Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners

ui: Add CloneSession support to recording targets (#5748)
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/adb_tracing_session.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/chrome/chrome_extension_tracing_session.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/interfaces/tracing_session.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/traced_over_websocket/traced_websocket_target.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/tracing_protocol/consumer_ipc_tracing_session.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/tracing_protocol/tracing_protocol.ts
Owners: none

traced_probes: add wdog handler to finalize the trace gracefully (#5755)
  include/perfetto/ext/base/metatrace_events.h
  include/perfetto/ext/base/watchdog.h
  include/perfetto/ext/base/watchdog_noop.h
  include/perfetto/ext/base/watchdog_posix.h
  src/base/watchdog_posix.cc
  src/base/watchdog_unittest.cc
  src/traced/probes/probes.cc
  src/traced/probes/probes_producer.cc
  src/traced/probes/probes_producer.h
  src/tracing/service/metatrace_writer.cc
Owners: @google/perfetto-traced-team

perfetto: add multi-machine information to --query (#5762)
  CHANGELOG
  protos/perfetto/common/tracing_service_state.proto
  src/perfetto_cmd/perfetto_cmd.cc
  src/tracing/service/tracing_service_endpoints_impl.cc
  src/tracing/service/tracing_service_impl_unittest.cc
Owners: @google/perfetto-team, @google/perfetto-traced-team

tp: don't abort hprof parse when a sub-record spans segment boundaries (#5764)
  src/trace_processor/importers/art_hprof/art_heap_graph_builder.cc
  src/trace_processor/storage/stats.h
Owners: @google/perfetto-tp-team

perfetto: fix UAF race in LockFreeTaskRunner::PostTask (#5771)
  src/base/lock_free_task_runner.cc
Owners: @google/perfetto-traced-team

docs: add docs for multi-machine tracing (#5765)
  docs/data-sources/gpu.md
  docs/deployment/multi-machine-architecture.md
  docs/learning-more/multi-machine-tracing.md
  docs/reference/tracebox.md
  docs/reference/traced.md
  docs/toc.md
Owners: none

perfetto: seed ai/skills/ for RFC-0025 (#5770)
  ai/skills/README.md
  ai/skills/perfetto-infra-getting-trace-processor/SKILL.md
  ai/skills/perfetto-infra-querying-traces/SKILL.md
  ai/skills/perfetto-workflow-android-heap-dump/SKILL.md
Owners: @google/perfetto-team

tp: add macro for unparenthesizing a list of expressions (#5776)
  Android.bp
  BUILD
  python/generators/sql_processing/utils.py
  src/trace_processor/perfetto_sql/engine/perfetto_sql_engine.cc
  src/trace_processor/perfetto_sql/stdlib/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/android/network_packets.sql
  src/trace_processor/perfetto_sql/stdlib/intervals/overlap.sql
  src/trace_processor/perfetto_sql/stdlib/std/metasql/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/std/metasql/unparenthesize.sql
  src/trace_processor/perfetto_sql/stdlib/viz/flamegraph.sql
  test/trace_processor/diff_tests/include_index.py
  test/trace_processor/diff_tests/stdlib/metasql/tests.py
Owners: @google/perfetto-team, @google/perfetto-tp-team

Add name for Chrome's "VSyncThread" (#5777)
  src/trace_processor/importers/proto/chrome_string_lookup.cc
  src/trace_processor/importers/proto/chrome_string_lookup_unittest.cc
Owners: @google/perfetto-tp-team

ui: Add yAxisMinInterval to LineChart (#5780)
  ui/src/components/widgets/charts/line_chart.ts
Owners: @google/perfetto-ui-team

TP bitmap metadata support for heap graphs (#5779)
  src/trace_processor/importers/proto/heap_graph_module.cc
  src/trace_processor/importers/proto/heap_graph_tracker.cc
  src/trace_processor/importers/proto/heap_graph_tracker.h
  test/trace_processor/diff_tests/parser/profiling/tests_heap_graph.py
Owners: @google/perfetto-tp-team

ui: Add onSeriesClick handler to LineChart (#5782)
  ui/src/components/widgets/charts/line_chart.ts
Owners: @google/perfetto-ui-team

tp: Update unittest to use EXPECT_DEATH_IF_SUPPORTED (#5781)
  src/trace_processor/importers/common/global_stats_tracker_unittest.cc
Owners: @google/perfetto-tp-team

ui: Default to Heapdump Explorer for traces with heap-graph data (#5761)
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/com.android.HeapDumpExplorer/session.ts
  ui/src/plugins/com.android.HeapDumpExplorer/styles.scss
  ui/src/plugins/com.android.HeapDumpExplorer/views/overview_view.ts
Owners: none

protos: extend windowmanager for AOT (protovm) (#5743)
  Android.bp
  Android.bp.extras
  protos/perfetto/config/android/windowmanager_config.proto
  protos/perfetto/config/perfetto_config.proto
  protos/perfetto/trace/android/server/windowmanagerservice.proto
  protos/perfetto/trace/android/winscope_extensions.proto
  protos/perfetto/trace/android/winscope_extensions_impl.proto
  protos/perfetto/trace/perfetto_trace.proto
Owners: none

tp: Display all messages involved in hash collisions (#5554)
  Android.bp
  src/trace_processor/importers/proto/winscope/BUILD.gn
  src/trace_processor/importers/proto/winscope/protolog_message_decoder.cc
  src/trace_processor/importers/proto/winscope/protolog_message_decoder.h
  src/trace_processor/importers/proto/winscope/test/protolog_message_decoder_unittest.cc
  src/trace_processor/storage/stats.h
Owners: @google/perfetto-tp-team

Java heap: Treat soft references as strong references (#5790)
  src/trace_processor/importers/proto/heap_graph_tracker.cc
  src/trace_processor/perfetto_sql/stdlib/android/memory/heap_graph/excluded_refs.sql
Owners: @google/perfetto-tp-team

protovm: extend merge operation with del_if_src_empty (#5744)
  protos/perfetto/config/perfetto_config.proto
  protos/perfetto/protovm/vm_program.proto
  protos/perfetto/trace/perfetto_trace.proto
  src/protovm/executor.cc
  src/protovm/executor.h
  src/protovm/parser.cc
  src/protovm/rw_proto_cursor.cc
  src/protovm/rw_proto_cursor.h
  src/protovm/test/mock_executor.h
  src/protovm/test/parser_unittest.cc
  src/protovm/test/rw_proto_unittest.cc
  src/protovm/test/sample_programs.h
Owners: @google/perfetto-team, @google/perfetto-traced-team

Revert "trace_processor: Parse adreno_cmdbatch_retired/submitted events (#5519)" (#5793)
  src/trace_processor/importers/ftrace/ftrace_parser.cc
  src/trace_processor/importers/ftrace/ftrace_parser.h
  src/trace_processor/importers/ftrace/ftrace_tokenizer.cc
  src/trace_processor/importers/ftrace/ftrace_tokenizer.h
  test/trace_processor/diff_tests/include_index.py
  test/trace_processor/diff_tests/parser/ftrace/adreno_cmdbatch_tests.py
  ui/src/plugins/dev.perfetto.TraceProcessorTrack/slice_tracks.ts
Owners: @google/perfetto-tp-team

ui: Add custom SVG-based line chart component (#5783)
  ui/src/assets/widgets.scss
  ui/src/assets/widgets/line_chart_svg.scss
  ui/src/base/array_utils.ts
  ui/src/base/array_utils_unittest.ts
  ui/src/components/widgets/charts_svg/common.ts
  ui/src/components/widgets/charts_svg/legend.ts
  ui/src/components/widgets/charts_svg/line_chart_svg.ts
  ui/src/components/widgets/charts_svg/tooltip.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
  ui/src/widgets/cursor_tooltip.ts
Owners: @google/perfetto-ui-team

tp: improve handling of includes to prepare for multi-connection (#5791)
  src/trace_processor/perfetto_sql/engine/BUILD.gn
  src/trace_processor/perfetto_sql/engine/perfetto_sql_connection.cc
  src/trace_processor/perfetto_sql/engine/perfetto_sql_connection.h
  src/trace_processor/perfetto_sql/engine/perfetto_sql_connection_unittest.cc
  src/trace_processor/perfetto_sql/engine/perfetto_sql_database.cc
  src/trace_processor/perfetto_sql/engine/perfetto_sql_database.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/stdlib_docs_table_function.cc
  src/trace_processor/trace_processor_impl.cc
  src/trace_processor/util/sql_modules.h
Owners: @google/perfetto-tp-team

Revert "Don't filter frames by process in the jank metric. (#5351)" (#5801)
  src/trace_processor/metrics/sql/android/jank/cujs_boundaries.sql
  src/trace_processor/metrics/sql/android/jank/frames.sql
  test/trace_processor/diff_tests/metrics/graphics/android_jank_cuj.out
  test/trace_processor/diff_tests/metrics/graphics/android_jank_cuj.py
  test/trace_processor/diff_tests/metrics/graphics/android_jank_cuj_query.out
  test/trace_processor/diff_tests/stdlib/android/frames_tests.py
Owners: @google/perfetto-tp-team

Add IRQ mapping information to SystemInfo. (#5547)
  Android.bp
  BUILD
  protos/perfetto/trace/system_info/BUILD.gn
  protos/perfetto/trace/system_info/interrupt_info.proto
  protos/perfetto/trace/trace_packet.proto
  src/trace_processor/importers/proto/system_probes_module.cc
  src/trace_processor/importers/proto/system_probes_parser.cc
  src/trace_processor/importers/proto/system_probes_parser.h
  src/trace_processor/perfetto_sql/stdlib/linux/irqs.sql
  src/trace_processor/storage/trace_storage.h
  src/trace_processor/tables/metadata_tables.py
  src/trace_processor/trace_processor_impl.cc
  src/traced/probes/probes_producer.cc
  src/traced/probes/system_info/BUILD.gn
  src/traced/probes/system_info/system_info_data_source.cc
  src/traced/probes/system_info/system_info_data_source.h
  src/traced/probes/system_info/system_info_data_source_unittest.cc
  test/trace_processor/diff_tests/stdlib/linux/tests.py
Owners: @google/perfetto-tp-team, @google/perfetto-traced-team

ui: Add SVG based histogram chart component (#5802)
  test/data/ui-screenshots/table_viewer.test.ts/slices-with-same-name/slices-with-same-name.png.sha256
  ui/src/assets/widgets.scss
  ui/src/assets/widgets/chart_svg.scss
  ui/src/components/details/sql_table_tab.ts
  ui/src/components/distribution_panel.ts
  ui/src/components/widgets/charts_svg/common.ts
  ui/src/components/widgets/charts_svg/histogram_svg.ts
  ui/src/components/widgets/charts_svg/legend.ts
  ui/src/components/widgets/charts_svg/line_chart_svg.ts
  ui/src/components/widgets/charts_svg/svg_chart_frame.ts
  ui/src/components/widgets/charts_svg/tooltip.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

ui: Use Roboto typeface in Echarts-based chart widgets (#5778)
  ui/src/components/widgets/charts/chart_theme.ts
  ui/src/components/widgets/charts/echart_view.ts
Owners: @google/perfetto-ui-team

ui: Highlight the selected slice dur in distrubution histogram (#5690)
  test/data/ui-screenshots/queries.test.ts/omnibox-query/id-click---current-selection.png.sha256
  test/data/ui-screenshots/queries.test.ts/query-page-id-link-navigation/query-page-id-click---current-selection.png.sha256
  test/data/ui-screenshots/table_viewer.test.ts/Go-to-slice/current-selection.png.sha256
  ui/src/components/details/thread_slice_details_tab.ts
  ui/src/components/distribution_panel.ts
  ui/src/components/widgets/charts/histogram.ts
  ui/src/components/widgets/charts_svg/histogram_svg.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

profiling: add new parser for /proc/pid/smaps (#5767)
  Android.bp
  BUILD
  gn/perfetto_unittests.gni
  include/perfetto/ext/profiling/BUILD.gn
  include/perfetto/ext/profiling/smaps.h
  protos/perfetto/config/profiling/smaps_config.proto
  protos/perfetto/trace/profiling/smaps.proto
  src/profiling/smaps/BUILD.gn
  src/profiling/smaps/smaps.cc
  src/profiling/smaps/smaps_unittest.cc
Owners: @google/perfetto-team, @google/perfetto-traced-team

tp: route PerfettoSqlParser through syntaqlite macro expansion (#5616)
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.h
Owners: @google/perfetto-tp-team

tp: drop ftrace based on raw timestamps not forged ones (#5809)
  src/trace_processor/importers/common/parser_types.h
  src/trace_processor/importers/ftrace/ftrace_module.cc
  src/trace_processor/importers/ftrace/ftrace_module.h
  src/trace_processor/importers/ftrace/ftrace_module_impl.h
  src/trace_processor/importers/ftrace/ftrace_parser.cc
  src/trace_processor/importers/ftrace/ftrace_parser.h
  src/trace_processor/importers/ftrace/ftrace_tokenizer.cc
  src/trace_processor/importers/ftrace/ftrace_tokenizer.h
  src/trace_processor/importers/proto/proto_importer_module.cc
  src/trace_processor/importers/proto/proto_importer_module.h
  src/trace_processor/importers/proto/proto_trace_parser_impl.cc
  src/trace_processor/importers/proto/proto_trace_parser_impl.h
  src/trace_processor/importers/proto/proto_trace_reader.cc
  src/trace_processor/sorter/trace_token_buffer.cc
  src/trace_processor/sorter/trace_token_buffer.h
  src/trace_processor/sorter/trace_token_buffer_unittest.cc
Owners: @google/perfetto-tp-team

traced_perf: add support for in-kernel frame pointer unwinding (#5706)
  protos/perfetto/config/profiling/perf_event_config.proto
  src/profiling/perf/event_config.cc
  src/profiling/perf/event_config.h
  src/profiling/perf/event_config_unittest.cc
  src/profiling/perf/perf_producer.cc
  src/profiling/perf/unwinding.cc
  src/profiling/perf/unwinding.h
Owners: @google/perfetto-traced-team

tp: handle cross-connection xConnect module calls (#5806)
  Android.bp
  src/trace_processor/perfetto_sql/engine/dataframe_module.cc
  src/trace_processor/perfetto_sql/engine/runtime_table_function.cc
  src/trace_processor/perfetto_sql/engine/static_table_function_module.cc
  src/trace_processor/sqlite/BUILD.gn
  src/trace_processor/sqlite/module_state_manager.cc
  src/trace_processor/sqlite/module_state_manager.h
  src/trace_processor/sqlite/module_state_manager_unittest.cc
Owners: @google/perfetto-tp-team

tp: remove unnecessary hacky workaround (#5810)
  src/trace_processor/importers/ftrace/ftrace_parser.cc
  test/trace_processor/diff_tests/stdlib/android/tests.py
Owners: @google/perfetto-tp-team

stdlib: Wattson: Explicit cast of rail's macro output (#5812)
  src/trace_processor/perfetto_sql/stdlib/wattson/aggregation.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/estimates.sql
  test/trace_processor/diff_tests/stdlib/wattson/tests.py
  ui/src/plugins/org.kernel.Wattson/estimate_aggregator.ts
Owners: @google/perfetto-tp-team

Add missing standard library headers to smaps.cc (#5819)
  src/profiling/smaps/smaps.cc
Owners: @google/perfetto-traced-team

frametimeline: add a new field for animationTime on SurfaceFrame (#5815)
  protos/perfetto/trace/android/frame_timeline_event.proto
  src/trace_processor/importers/proto/frame_timeline_event_parser.cc
  src/trace_processor/importers/proto/frame_timeline_event_parser.h
Owners: @google/perfetto-tp-team

ui: SegmentedButtons fixes & rename to RadioGroup (#5820)
  test/data/ui-screenshots/debug_tracks.test.ts/debug-tracks/debug-track-menu.png.sha256
  ui/src/assets/widgets.scss
  ui/src/assets/widgets/form.scss
  ui/src/assets/widgets/radio_group.scss
  ui/src/components/tracks/add_debug_track_menu.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/add_extension_server_modal.ts
  ui/src/plugins/dev.perfetto.MetricsPage/metrics_page.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/button_demo.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/radio_group_demo.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/widgets_page.ts
  ui/src/plugins/org.kernel.Wattson/estimate_aggregator.ts
  ui/src/plugins/org.kernel.Wattson/package_aggregator.ts
  ui/src/plugins/org.kernel.Wattson/process_aggregator.ts
  ui/src/plugins/org.kernel.Wattson/thread_aggregator.ts
  ui/src/widgets/button.ts
  ui/src/widgets/flamegraph.ts
  ui/src/widgets/radio_group.ts
  ui/src/widgets/segmented_buttons.ts
Owners: @google/perfetto-ui-team

Revert "tp: route PerfettoSqlParser through syntaqlite macro expansion (#5616)" (#5823)
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.h
Owners: @google/perfetto-tp-team

ui: Update Chrome's built-in categories (#5814)
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/chrome.ts
Owners: none

ui: Prefix HeapDumpExplorer setting ID with com.android (#5787)
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/com.android.HeapDumpExplorer/session.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/overview_view.ts
Owners: none

exclude smaps test on non-linux, and temporarily embedder targets (#5825)
  gn/perfetto_unittests.gni
Owners: @google/perfetto-team
