Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

rust-sdk: Add tracing-perfetto-sdk crate (#5671)
  contrib/rust-sdk/Cargo.lock
  contrib/rust-sdk/Cargo.toml
  contrib/rust-sdk/perfetto-derive/Cargo.toml
  contrib/rust-sdk/perfetto-derive/README.md
  contrib/rust-sdk/perfetto-protos-gpu/Cargo.toml
  contrib/rust-sdk/perfetto-protos-gpu/README.md
  contrib/rust-sdk/perfetto-protos-gpu/src/lib.rs
  contrib/rust-sdk/perfetto-protos-trace-processor/Cargo.toml
  contrib/rust-sdk/perfetto-protos-trace-processor/README.md
  contrib/rust-sdk/perfetto-protos-trace-processor/src/lib.rs
  contrib/rust-sdk/perfetto-sys/Cargo.toml
  contrib/rust-sdk/perfetto-sys/README.md
  contrib/rust-sdk/perfetto/Cargo.toml
  contrib/rust-sdk/perfetto/README.md
  contrib/rust-sdk/perfetto/src/lib.rs
  contrib/rust-sdk/tracing-perfetto/Cargo.toml
  contrib/rust-sdk/tracing-perfetto/README.md
  contrib/rust-sdk/tracing-perfetto/examples/tracing.rs
  contrib/rust-sdk/tracing-perfetto/src/lib.rs
Owners: @google/perfetto-team

tp: import Firefox profiler markers as slices (#5686)
  BUILD
  docs/getting-started/other-formats.md
  src/trace_processor/importers/gecko/BUILD.gn
  src/trace_processor/importers/gecko/gecko_event.h
  src/trace_processor/importers/gecko/gecko_trace_parser.cc
  src/trace_processor/importers/gecko/gecko_trace_parser.h
  src/trace_processor/importers/gecko/gecko_trace_tokenizer.cc
  src/trace_processor/importers/gecko/gecko_trace_tokenizer.h
  src/trace_processor/util/json_parser.h
  src/trace_processor/util/simple_json_parser.h
  test/trace_processor/diff_tests/parser/gecko/tests.py
  ui/src/core/embedder/default_plugins.ts
  ui/src/plugins/dev.perfetto.FirefoxProfilerMarkers/index.ts
Owners: @google/perfetto-tp-team, @google/perfetto-ui-team

docs: Add Rust SDK getting started guide (#5678)
  contrib/rust-sdk/Cargo.lock
  contrib/rust-sdk/Cargo.toml
  contrib/rust-sdk/docs-tests/Cargo.toml
  contrib/rust-sdk/docs-tests/src/lib.rs
  docs/README.md
  docs/contributing/build-instructions.md
  docs/getting-started/rust-sdk.md
  docs/getting-started/start-using-perfetto.md
  docs/toc.md
  infra/perfetto.dev/src/assets/script.js
Owners: @google/perfetto-team

tests: guard remaining integrationtests inside enable_perfetto_integration_tests (#5697)
  src/trace_processor/BUILD.gn
  src/trace_processor/trace_summary/BUILD.gn
  src/trace_redaction/BUILD.gn
  src/traceconv/BUILD.gn
  src/traced/probes/ftrace/BUILD.gn
  src/traced_relay/BUILD.gn
  src/tracing/BUILD.gn
Owners: @google/perfetto-tp-team, @google/perfetto-traced-team

Fix perfetto build in chromium (#5701)
  src/trace_processor/util/sql_module_doc_parser.h
Owners: @google/perfetto-tp-team

bazel: one more attempt to fix blaze build (#5702)
  BUILD
  src/trace_processor/storage/BUILD.gn
  tools/gen_bazel
Owners: @google/perfetto-tp-team

docs: Improve Data Explorer docs (#5699)
  docs/visualization/data-explorer.md
Owners: none

Add standard library wrapper around package_lookup (#5393)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/stdlib/android/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/android/package_lookup.sql
  test/trace_processor/diff_tests/stdlib/android/tests.py
Owners: @google/perfetto-tp-team

profiling: guard end_to_end_tests inside enable_perfetto_integration_tests (#5703)
  src/profiling/memory/BUILD.gn
Owners: @google/perfetto-traced-team

tracebox: allow building on freebsd (#5705)
  BUILD.gn
  src/tracebox/tracebox.cc
Owners: @google/perfetto-traced-team

tp: bounded-window walk for critical path; drop slice_name from join (#5704)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/intrinsics/functions/BUILD.gn
  src/trace_processor/perfetto_sql/intrinsics/functions/critical_path.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/critical_path.h
  src/trace_processor/perfetto_sql/intrinsics/functions/tables.py
  src/trace_processor/perfetto_sql/intrinsics/types/BUILD.gn
  src/trace_processor/perfetto_sql/intrinsics/types/wakeup_graph.h
  src/trace_processor/perfetto_sql/stdlib/sched/thread_executing_span.sql
  src/trace_processor/perfetto_sql/stdlib/sched/thread_executing_span_with_slice.sql
  src/trace_processor/trace_processor_impl.cc
Owners: @google/perfetto-tp-team

tp: collapse critical-path walk to one pass (#5707)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/intrinsics/functions/critical_path.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/critical_path.h
  src/trace_processor/perfetto_sql/intrinsics/functions/tables.py
  src/trace_processor/perfetto_sql/intrinsics/types/wakeup_graph.h
  src/trace_processor/perfetto_sql/stdlib/graphs/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/graphs/critical_path.sql
  src/trace_processor/perfetto_sql/stdlib/sched/thread_executing_span.sql
  src/trace_processor/perfetto_sql/stdlib/sched/thread_executing_span_with_slice.sql
  test/trace_processor/diff_tests/include_index.py
  test/trace_processor/diff_tests/stdlib/graphs/critical_path_tests.py
  test/trace_processor/diff_tests/tables/tests_sched.py
Owners: @google/perfetto-tp-team

Fix blocking call table after latest refactor to consider also the render thread ones (#5709)
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/pinBlockingCall.ts
Owners: none

rust-sdk: add useful fields to manually generated protos (#5715)
  contrib/rust-sdk/perfetto/src/protos/trace/interned_data/interned_data.pz.rs
  contrib/rust-sdk/perfetto/src/protos/trace/trace_packet.pz.rs
Owners: @google/perfetto-team

perfetto: add extra_asmflags for cross-compile (#5713)
  gn/standalone/toolchain/BUILD.gn
Owners: @google/perfetto-team

ui: Enable thread state by cpu aggregation flag by default (#5720)
  ui/src/plugins/dev.perfetto.Sched/index.ts
Owners: none

perfetto: fix ScrapeEmulatedSharedMemoryBuffer never committing (#5721)
  src/tracing/core/shared_memory_arbiter_impl.cc
  src/tracing/core/shared_memory_arbiter_impl_unittest.cc
Owners: @google/perfetto-traced-team

perfetto: allow overriding write_version_header SCM revision via env (#5717)
  tools/write_version_header.py
Owners: none

tp: adjust SF transform matrix construction for layers. (#5722)
  src/trace_processor/importers/proto/winscope/surfaceflinger_layers_parser.cc
  src/trace_processor/importers/proto/winscope/surfaceflinger_layers_rect_computation.cc
  src/trace_processor/importers/proto/winscope/surfaceflinger_layers_utils.h
  src/trace_processor/importers/proto/winscope/surfaceflinger_layers_visibility_computation.cc
Owners: @google/perfetto-tp-team

ui: Plugins page bugfixes (#5700)
  ui/src/core_plugins/dev.perfetto.FlagsPage/plugins_page.ts
Owners: @google/perfetto-ui-team

perfetto: revert all the attempts to fix blaze build (#5726)
  Android.bp
  BUILD
  bazel/rules.bzl
  bazel/standalone/perfetto_cfg.bzl
  include/perfetto/ext/base/BUILD.gn
  include/perfetto/ext/trace_processor/BUILD.gn
  include/perfetto/ext/trace_processor/rpc/BUILD.gn
  include/perfetto/ext/traceconv/BUILD.gn
  include/perfetto/public/BUILD.gn
  src/android_sdk/jni/BUILD.gn
  src/base/BUILD.gn
  src/base/regex/BUILD.gn
  src/ipc/protoc_plugin/BUILD.gn
  src/protovm/BUILD.gn
  src/protozero/BUILD.gn
  src/protozero/protoc_plugin/BUILD.gn
  src/trace_processor/BUILD.gn
  src/trace_processor/containers/BUILD.gn
  src/trace_processor/importers/android_bugreport/BUILD.gn
  src/trace_processor/importers/archive/BUILD.gn
  src/trace_processor/importers/collapsed_stack/BUILD.gn
  src/trace_processor/importers/etm/BUILD.gn
  src/trace_processor/importers/perf/BUILD.gn
  src/trace_processor/importers/pprof/BUILD.gn
  src/trace_processor/importers/simpleperf_proto/BUILD.gn
  src/trace_processor/perfetto_sql/engine/BUILD.gn
  src/trace_processor/plugins/wattson/BUILD.gn
  src/trace_processor/shell/BUILD.gn
  src/trace_processor/storage/BUILD.gn
  src/trace_processor/types/BUILD.gn
  src/trace_processor/util/BUILD.gn
  src/trace_processor/util/deobfuscation/BUILD.gn
  src/trace_processor/util/symbolizer/BUILD.gn
  tools/gen_android_bp
  tools/gen_bazel
  tools/gn_utils.py
Owners: @google/perfetto-team, @google/perfetto-traced-team, @google/perfetto-tp-team

rust-sdk: add extension_descriptor to TracePacket bindings (#5727)
  contrib/rust-sdk/perfetto/src/protos/common/descriptor.pz.rs
  contrib/rust-sdk/perfetto/src/protos/common/mod.rs
  contrib/rust-sdk/perfetto/src/protos/trace/extension_descriptor.pz.rs
  contrib/rust-sdk/perfetto/src/protos/trace/trace_packet.pz.rs
  contrib/rust-sdk/tools/gen_rust_protos
Owners: @google/perfetto-team

docs: Add images/videos to DE docs (#5725)
  docs/images/data-explorer-nodes.png
  docs/visualization/data-explorer.md
Owners: none

de: Fix the table undefined error (#5724)
  ui/src/plugins/dev.perfetto.DataExplorer/node_crud_operations.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/core_nodes.ts
Owners: none

tp: temporarily make wattson plugin not register in static constructor (#5728)
  BUILD
  src/trace_processor/plugins/wattson/BUILD.gn
  src/trace_processor/plugins/wattson/plugin.cc
  src/trace_processor/plugins/wattson/register.h
  src/trace_processor/trace_processor_impl.cc
Owners: @google/perfetto-tp-team

tp: Remove mayzner@ from TODOs (#5723)
  src/trace_processor/importers/proto/frame_timeline_event_parser.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/counter_intervals.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/interval_intersect.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/type_builders.cc
  test/trace_processor/diff_tests/metrics/chrome/proto_content_path_test.sql
  test/trace_processor/diff_tests/metrics/chrome/tests.py
  test/trace_processor/diff_tests/metrics/memory/tests.py
  ui/src/plugins/dev.perfetto.Ftrace/ftrace_explorer.ts
Owners: @google/perfetto-tp-team

ui: Extract FlamegraphPanel widget from QueryFlamegraph (#5730)
  ui/src/components/flamegraph_panel.ts
  ui/src/components/query_flamegraph.ts
  ui/src/plugins/com.android.DayExplorer/index.ts
  ui/src/plugins/dev.perfetto.AggregateProfiles/aggregate_profiles_page.ts
  ui/src/plugins/dev.perfetto.CpuProfile/index.ts
  ui/src/plugins/dev.perfetto.CpuProfile/profiling_track.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_details_panel.ts
  ui/src/plugins/dev.perfetto.InstrumentsSamplesProfile/index.ts
  ui/src/plugins/dev.perfetto.LinuxPerf/index.ts
  ui/src/plugins/dev.perfetto.TraceProcessorTrack/index.ts
  ui/src/plugins/dev.perfetto.TrackEvent/index.ts
  ui/src/widgets/flamegraph.ts
Owners: @google/perfetto-ui-team

ui: Embed flamegraph viewer in Heap Dump Explorer (#5731)
  ui/src/plugins/com.android.HeapDumpExplorer/components.ts
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/nav_state.ts
  ui/src/plugins/com.android.HeapDumpExplorer/session.ts
  ui/src/plugins/com.android.HeapDumpExplorer/styles.scss
  ui/src/plugins/com.android.HeapDumpExplorer/views/flamegraph_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/object_view.ts
Owners: none

perfetto: add metatrace to power and kernel-wakelocks data sources (#5732)
  include/perfetto/ext/base/metatrace_events.h
  src/traced/probes/android_cpu_per_uid/android_cpu_per_uid_data_source.cc
  src/traced/probes/android_kernel_wakelocks/android_kernel_wakelocks_data_source.cc
  src/traced/probes/power/android_power_data_source.cc
  src/traced/probes/power/linux_power_sysfs_data_source.cc
  src/traced/probes/statsd_client/statsd_binder_data_source.cc
Owners: @google/perfetto-traced-team

tbV2: fix silent packet duplication on same-call eviction of recommit chunk (#5695)
  src/tracing/service/trace_buffer_v2.cc
  src/tracing/service/trace_buffer_v2_unittest.cc
Owners: @google/perfetto-traced-team

perfetto: fix android.bp build (#5734)
  Android.bp
  tools/gen_android_bp
Owners: none

Update the jank track pin plugin for the JPS metrics. (#5354)
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/fullTraceJankMetricHandler.ts
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/fullTraceJankMetricHandler_unittest.ts
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/metricUtils.ts
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/pinCujMetricHandler.ts
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/pinCujScoped.ts
  ui/src/plugins/com.android.PinAndroidPerfMetrics/handlers/pinCujScoped_unittest.ts
Owners: none

tp: scope gpu_counter custom-groups cache to per-sequence state (#5742)
  Android.bp
  BUILD
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/gpu_counter_sequence_state.cc
  src/trace_processor/importers/proto/gpu_counter_sequence_state.h
  src/trace_processor/importers/proto/gpu_event_parser.cc
  src/trace_processor/importers/proto/gpu_event_parser.h
  src/trace_processor/importers/proto/incremental_state.h
Owners: @google/perfetto-tp-team

de: Improve date-explorer-architecture.md (#5752)
  docs/design-docs/data-explorer-architecture.md
Owners: none

watchdog: Report actual boot/mono/cpu time (#5749)
  include/perfetto/base/time.h
  include/perfetto/ext/base/watchdog_posix.h
  src/base/watchdog_posix.cc
Owners: @google/perfetto-traced-team

stdlib: Wattson: Add support for SM8750 (#5719)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/estimates.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/freq_idle.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/pivot.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/device_infos.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/utils.sql
  src/trace_processor/plugins/wattson/BUILD.gn
  src/trace_processor/plugins/wattson/data/SM8750/cpu_1d.csv
  test/data/wattson_multiple_1d_static.pb.sha256
  test/trace_processor/diff_tests/stdlib/wattson/tests.py
Owners: @google/perfetto-tp-team

ui: Show tooltips on the HeapDumpExplorer columns (#5757)
  ui/src/plugins/com.android.HeapDumpExplorer/components.ts
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/com.android.HeapDumpExplorer/styles.scss
  ui/src/plugins/com.android.HeapDumpExplorer/types.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/all_objects_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/arrays_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/classes_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/dominators_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/flamegraph_objects_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/object_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/overview_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/strings_view.ts
Owners: none

Update references to old windows toolchain (#5759)
  infra/luci/recipe_modules/windows_sdk/__init__.py
  infra/luci/recipe_modules/windows_sdk/examples/full.expected/win.json
  infra/luci/recipes/perfetto.expected/ci_win.json
Owners: @google/perfetto-team

sdk: allow passing ProtoVM program at registration (#5750)
  BUILD
  include/perfetto/public/data_source.h
  include/perfetto/public/protos/BUILD.gn
  include/perfetto/public/protos/config/protovm/protovm_config.pzc.h
  src/shared_lib/test/api_integrationtest.cc
  src/shared_lib/test/utils.cc
  src/shared_lib/test/utils.h
  tools/gen_c_protos
Owners: @google/perfetto-traced-team

ui: Move traced socket setting to a global (#5746)
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/adb_platform_checks.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/adb_tracing_session.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/web_device_proxy/wdp_target.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/web_device_proxy/wdp_target_provider.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/websocket/adb_websocket_target.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/websocket/adb_websocket_target_provider.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/webusb/adb_webusb_target.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/adb/webusb/adb_webusb_target_provider.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/index.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/recording_manager.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/settings.ts
Owners: none

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners
