Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners

tp: add TraceProcessorShellMain (#4894)
  include/perfetto/ext/trace_processor/trace_processor_shell.h
  src/trace_processor/trace_processor_shell.cc
  src/trace_processor/trace_processor_shell_main.cc
Owners: @google/perfetto-tp-team

ui: Add rectangle brush to scatterplot and optional gridlines to all charts (#4890)
  ui/src/components/widgets/charts/bar_chart.ts
  ui/src/components/widgets/charts/boxplot.ts
  ui/src/components/widgets/charts/chart_utils.ts
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/line_chart.ts
  ui/src/components/widgets/charts/scatterplot.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

rust-sdk: use per-instance state for gpu_counters example (#4896)
  contrib/rust-sdk/perfetto-protos-gpu/examples/gpu_counters.rs
Owners: @google/perfetto-team

rust-sdk: update contributor emails (#4897)
  CONTRIBUTORS.txt
  contrib/rust-sdk/perfetto-derive/Cargo.toml
  contrib/rust-sdk/perfetto-protos-gpu/Cargo.toml
  contrib/rust-sdk/perfetto-sys/Cargo.toml
  contrib/rust-sdk/perfetto/Cargo.toml
Owners: @google/perfetto-team

stdlib: _oom_adjuster_intervals fix counter.ts matching with 2 reasons (#4873)
  src/trace_processor/perfetto_sql/stdlib/android/oom_adjuster.sql
Owners: @google/perfetto-tp-team

stdlib: add a normalized event_channel to input_events (#4865)
  src/trace_processor/perfetto_sql/stdlib/android/input.sql
Owners: @google/perfetto-tp-team

ui: fix broken behaviour around imported configs (#4898)
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/instructions_page.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/record_page.ts
Owners: none

ui: Roll stable/canary (#4899)
  ui/release/channels.json
Owners: @google/perfetto-ui-team

tp: stdlib: Constrain input to frame intersect logic (#4796)
  src/trace_processor/perfetto_sql/stdlib/android/input.sql
Owners: @google/perfetto-tp-team

ui: Tweak home page styling (#4092)
  ui/src/assets/home_page.scss
  ui/src/assets/sidebar.scss
  ui/src/assets/theme_provider.scss
  ui/src/assets/widgets/anchor.scss
  ui/src/assets/widgets/menu.scss
  ui/src/frontend/help_modal.ts
  ui/src/frontend/home_page.ts
  ui/src/widgets/anchor.ts
Owners: @google/perfetto-ui-team

Render heap profile snapshots separately (#4901)
  ui/src/plugins/dev.perfetto.HeapProfile/common.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_details_panel.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_track.ts
  ui/src/plugins/dev.perfetto.HeapProfile/index.ts
Owners: none

ui: Remove vega and d3 (#4904)
  python/tools/check_ratchet.py
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/assets/perfetto.scss
  ui/src/assets/widgets/vega_view.scss
  ui/src/components/details/sql_table_tab.ts
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/sql_bar_chart.ts
  ui/src/components/widgets/charts/sql_histogram.ts
  ui/src/components/widgets/vega_view.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/vega_view_demo.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/widgets_page.ts
  ui/src/plugins/org.chromium.ChromeScrollJank/scroll_delta_graph.ts
Owners: @google/perfetto-team, @google/perfetto-ui-team

add trace config option to preserve logcat buffers (#4902)
  protos/perfetto/config/android/android_log_config.proto
  protos/perfetto/config/perfetto_config.proto
  protos/perfetto/trace/perfetto_trace.proto
  src/traced/probes/android_log/android_log_data_source.cc
  src/traced/probes/android_log/android_log_data_source_unittest.cc
Owners: @google/perfetto-traced-team

de: Add visualisation node (#4891)
  ui/src/assets/explore_page/node_info/visualisation.md
  ui/src/components/widgets/charts/bar_chart.ts
  ui/src/components/widgets/charts/bar_chart_loader.ts
  ui/src/components/widgets/charts/cdf_loader.ts
  ui/src/components/widgets/charts/chart_sql_source.ts
  ui/src/components/widgets/charts/chart_sql_source_unittest.ts
  ui/src/components/widgets/charts/chart_utils.ts
  ui/src/components/widgets/charts/datagrid_chart.ts
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/histogram.ts
  ui/src/components/widgets/charts/histogram_loader.ts
  ui/src/components/widgets/charts/line_chart_loader.ts
  ui/src/components/widgets/charts/pie_chart_loader.ts
  ui/src/components/widgets/charts/scatterplot_loader.ts
  ui/src/components/widgets/charts/treemap_loader.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/charts/chart_column_formatters.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/charts/chart_config_popup.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/charts/chart_data_loader.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/charts/chart_renderers.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/charts/chart_view.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/core_nodes.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/data_explorer.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/graph/graph.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/chart_type_registry.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/visualisation_node.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/operations/filter.scss
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/operations/filter.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/operations/filter_unittest.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_node.ts
  ui/src/plugins/dev.perfetto.ExplorePage/styles.scss
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

tp: Fix index corruption in StringFilterNe for missing strings (#4910)
  src/trace_processor/core/interpreter/bytecode_interpreter_impl.h
  src/trace_processor/core/interpreter/bytecode_interpreter_unittest.cc
Owners: @google/perfetto-tp-team

tp: Fix PerfettoUI failing to load single logcat file with clock_sync_failure_unknown_source_clock error (#4915)
  src/trace_processor/forwarding_trace_parser.cc
Owners: @google/perfetto-tp-team

protos: Add evdev device addition and removal events (#4872)
  protos/perfetto/trace/evdev.proto
  protos/perfetto/trace/perfetto_trace.proto
Owners: none

ui: add LockContention plugin to visualize held locks (#4917)
  ui/src/plugins/com.android.LockContention/index.ts
Owners: none

[protos] Prepare trace protos for detailed V8 source positions (#4918)
  protos/perfetto/trace/chrome/v8.proto
  protos/perfetto/trace/perfetto_trace.proto
Owners: none

de: Enable datagrid sorting (#4924)
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/data_explorer.ts
Owners: none

de: Fix rendering of metrics node (#4925)
  ui/src/plugins/dev.perfetto.ExplorePage/query_node.ts
Owners: none

ui: Fix missing cpu by thread aggregation (#4926)
  test/data/ui-screenshots/aggregation.test.ts/sched/cpu-by-process.png.sha256
  test/data/ui-screenshots/aggregation.test.ts/sched/cpu-by-thread.png.sha256
  test/data/ui-screenshots/aggregation.test.ts/sched/sort-by-occurrences.png.sha256
  test/data/ui-screenshots/aggregation.test.ts/sched/sort-by-wall-duration-desc.png.sha256
  test/data/ui-screenshots/aggregation.test.ts/sched/sort-by-wall-duration.png.sha256
  test/data/ui-screenshots/wattson.test.ts/sched-aggregations/sched-aggr-process.png.sha256
  test/data/ui-screenshots/wattson.test.ts/sched-aggregations/sched-aggr-thread.png.sha256
  ui/src/plugins/dev.perfetto.Sched/cpu_slice_track.ts
Owners: none

de: Accept any type in metrics (#4927)
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_node.ts
Owners: none

ui: Fix resizable details panel (#4928)
  ui/src/assets/widgets/drawer_panel.scss
  ui/src/widgets/drawer_panel.ts
Owners: @google/perfetto-ui-team

windowmanager protos: add rendering_hints to windowlayoutparams (#4913)
  protos/perfetto/trace/android/view/windowlayoutparams.proto
Owners: none

ui: do not expand User Interaction group by default (#4931)
  ui/src/plugins/dev.perfetto.StandardGroups/index.ts
Owners: none

ui: add AddNote command and allow startup use (#4882)
  docs/visualization/commands-automation-reference.md
  test/data/ui-screenshots/startup_commands_allowlist.test.ts/dev-perfetto-AddNoteAtTimestamp-command-test/after.png.sha256
  ui/src/core/startup_command_allowlist.ts
  ui/src/core_plugins/dev.perfetto.TracklUtils/index.ts
  ui/src/test/startup_commands_allowlist.test.ts
Owners: @google/perfetto-ui-team

out-of-tree protos: expose binary tool in the android tree (#4916)
  Android.bp
  Android.bp.extras
  tools/gen_android_bp
Owners: none

ui: Return all names when using the datagrid glob filter (#4935)
  ui/src/components/widgets/datagrid/sql_data_source.ts
Owners: @google/perfetto-ui-team

Move check_banned_patterns to sql processing utils (#4936)
  python/generators/sql_processing/utils.py
  tools/check_sql_modules.py
Owners: @google/perfetto-team

ui: Make AndroidAnr plugin default (#4919)
  ui/src/core/default_plugins.ts
Owners: @google/perfetto-ui-team

ui: add embedder API for sidebar branding badges (#4900)
  ui/src/assets/sidebar.scss
  ui/src/core/embedder/default_embedder.ts
  ui/src/core/embedder/embedder.ts
  ui/src/core/embedder/perfetto_ui_embedder.ts
  ui/src/frontend/sidebar.ts
Owners: @google/perfetto-ui-team

traced: load gzipped descriptors from /etc on Android (#4838)
  include/perfetto/ext/tracing/core/tracing_service.h
  protos/perfetto/trace/extension_descriptor.proto
  protos/perfetto/trace/perfetto_trace.proto
  src/trace_processor/importers/proto/proto_trace_reader.cc
  src/traced/service/service.cc
  src/tracing/service/tracing_service_impl.cc
  src/tracing/service/tracing_service_impl.h
  src/tracing/service/tracing_service_impl_unittest.cc
Owners: @google/perfetto-traced-team, @google/perfetto-tp-team

Add support for FWTP slice traces to Perfetto UI (#4937)
  src/trace_processor/importers/ftrace/ftrace_parser.cc
  src/trace_processor/importers/ftrace/ftrace_parser.h
  ui/src/plugins/dev.perfetto.TraceProcessorTrack/slice_tracks.ts
Owners: @google/perfetto-tp-team

tp: best-fit scratch registers + DataframeRegisterCache (#4946)
  BUILD
  src/trace_processor/core/dataframe/BUILD.gn
  src/trace_processor/core/dataframe/dataframe_register_cache.h
  src/trace_processor/core/dataframe/query_plan.cc
  src/trace_processor/core/dataframe/query_plan.h
  src/trace_processor/core/interpreter/bytecode_builder.cc
  src/trace_processor/core/interpreter/bytecode_builder.h
  src/trace_processor/core/tree/tree_transformer.cc
  src/trace_processor/core/tree/tree_transformer.h
Owners: @google/perfetto-tp-team

sdk: Move system registration check from Android framework (#4922)
  src/android_sdk/java/main/dev/perfetto/sdk/PerfettoTrace.java
Owners: @google/perfetto-traced-team

Update CHANGELOG for v54 (#4951)
  CHANGELOG
Owners: @google/perfetto-team

Fix windows build (#4952)
  buildtools/BUILD.gn
  gn/standalone/proto_library.gni
  src/base/circular_queue_unittest.cc
  tools/install-build-deps
Owners: @google/perfetto-team, @google/perfetto-traced-team

LUCI: update windows SDK version (#4953)
  infra/luci/recipe_modules/windows_sdk/__init__.py
  infra/luci/recipe_modules/windows_sdk/examples/full.expected/win.json
  infra/luci/recipes/perfetto.expected/ci_win.json
Owners: @google/perfetto-team

LUCI: update windows SDK path (#4954)
  infra/luci/recipe_modules/windows_sdk/api.py
  infra/luci/recipe_modules/windows_sdk/examples/full.expected/win.json
  infra/luci/recipes/perfetto.expected/ci_win.json
Owners: @google/perfetto-team
