Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

ui: Ignore lock if --no-build passed (#4846)
  ui/build.js
Owners: @google/perfetto-ui-team

de: Split explore_page.ts (#4825)
  docs/design-docs/explore-page-architecture.md
  ui/src/plugins/dev.perfetto.ExplorePage/clipboard_operations.ts
  ui/src/plugins/dev.perfetto.ExplorePage/clipboard_operations_unittest.ts
  ui/src/plugins/dev.perfetto.ExplorePage/datagrid_node_creation.ts
  ui/src/plugins/dev.perfetto.ExplorePage/datagrid_node_creation_unittest.ts
  ui/src/plugins/dev.perfetto.ExplorePage/explore_page.ts
  ui/src/plugins/dev.perfetto.ExplorePage/graph_io.ts
  ui/src/plugins/dev.perfetto.ExplorePage/node_actions.ts
  ui/src/plugins/dev.perfetto.ExplorePage/node_actions_unittest.ts
  ui/src/plugins/dev.perfetto.ExplorePage/node_crud_operations.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/builder.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/graph/graph.ts
Owners: none

de: tp: Add metrics v2 node (#4756)
  ui/src/assets/explore_page/node_info/metrics.md
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/core_nodes.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_node.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_node_unittest.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/query_builder_utils.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/widgets.scss
  ui/src/plugins/dev.perfetto.ExplorePage/query_node.ts
Owners: @google/perfetto-ui-team

ui: introduce new "embedder" interface to place deployment vars (#4822)
  ui/src/core/analytics_impl.ts
  ui/src/core/app_impl.ts
  ui/src/core/embedder/create_embedder.ts
  ui/src/core/embedder/default_embedder.ts
  ui/src/core/embedder/embedder.ts
  ui/src/core/embedder/perfetto_ui_embedder.ts
Owners: @google/perfetto-ui-team

ui: add infra for having embedder defined extension servers (#4827)
  ui/src/core/embedder/default_embedder.ts
  ui/src/core/embedder/embedder.ts
  ui/src/core/embedder/perfetto_ui_embedder.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/add_extension_server_modal.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server_unittest.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/types.ts
Owners: @google/perfetto-ui-team

ui: add support for sso via iframes for ext server + add google one (#4832)
  ui/src/core/embedder/default_embedder.ts
  ui/src/core/embedder/embedder.ts
  ui/src/core/embedder/perfetto_ui_embedder.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/add_extension_server_modal.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/types.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/url_utils.ts
Owners: @google/perfetto-ui-team

ui: add notion of "source" to commands (#4835)
  ui/src/assets/topbar.scss
  ui/src/core/app_impl.ts
  ui/src/core/command_manager.ts
  ui/src/core/trace_impl.ts
  ui/src/core_plugins/dev.perfetto.CoreCommands/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/add_extension_server_modal.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server_unittest.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/styles.scss
  ui/src/core_plugins/dev.perfetto.ExtensionServers/types.ts
  ui/src/frontend/omnibox.ts
  ui/src/public/command.ts
Owners: @google/perfetto-ui-team

TP: Remove jsoncpp dependency (#4850)
  MODULE.bazel
  MODULE.bazel.lock
  bazel/deps.bzl
  bazel/jsoncpp.BUILD
  bazel/perfetto_deps.bzl
  bazel/standalone/perfetto_cfg.bzl
  buildtools/BUILD.gn
  gn/BUILD.gn
  src/bigtrace/worker/BUILD.gn
  src/bigtrace/worker/repository_policies/BUILD.gn
  src/bigtrace/worker/repository_policies/gcs_trace_processor_loader.cc
  src/trace_processor/BUILD.gn
  src/trace_processor/export_json_unittest.cc
  src/trace_processor/storage_minimal_smoke_test.cc
  src/trace_processor/util/BUILD.gn
  tools/gen_bazel
  tools/install-build-deps
Owners: @google/perfetto-team, @google/perfetto-traced-team, @google/perfetto-tp-team

Break down TrackEvent extensions + Add tracing_proto_extension tool (#4833)
  Android.bp
  gn/BUILD.gn
  protos/perfetto/trace/perfetto_trace.proto
  protos/perfetto/trace/track_event/track_event.proto
  protos/perfetto/trace/track_event/track_event_extensions.json
  src/tools/BUILD.gn
  src/tools/tracing_proto_extensions.cc
  src/tools/tracing_proto_extensions.h
  src/tools/tracing_proto_extensions_main.cc
  src/tools/tracing_proto_extensions_unittest.cc
  tools/test_data.txt
Owners: @google/perfetto-team, @google/perfetto-traced-team

ui: Simplify charts loader (#4844)
  ui/src/components/widgets/charts/bar_chart.ts
  ui/src/components/widgets/charts/bar_chart_loader.ts
  ui/src/components/widgets/charts/chart_sql_source.ts
  ui/src/components/widgets/charts/chart_sql_source_unittest.ts
  ui/src/components/widgets/charts/chart_utils.ts
  ui/src/components/widgets/charts/histogram_loader.ts
  ui/src/components/widgets/charts/line_chart_loader.ts
  ui/src/components/widgets/charts/pie_chart_loader.ts
  ui/src/components/widgets/charts/scatterplot_loader.ts
  ui/src/components/widgets/charts/treemap_loader.ts
  ui/src/components/widgets/datagrid/data_source.ts
  ui/src/components/widgets/datagrid/model.ts
  ui/src/components/widgets/datagrid/sql_data_source/group_by.ts
  ui/src/components/widgets/datagrid/sql_data_source/rollup_tree.ts
  ui/src/components/widgets/datagrid/sql_utils.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

de: Fix the 'query doesn't exist' bug on empty tables (#4851)
  src/trace_processor/perfetto_sql/generator/structured_query_generator.cc
  src/trace_processor/rpc/rpc.cc
Owners: @google/perfetto-tp-team

Enable Windows support for libperfetto_c in Android (#4853)
  Android.bp
  include/perfetto/ext/base/sys_types.h
  src/base/ctrl_c_handler.cc
  tools/gen_android_bp
Owners: @google/perfetto-traced-team

ui: Use modern pointer events & pointer capture on drawer panel resize handle (#4852)
  ui/src/assets/widgets/drawer_panel.scss
  ui/src/widgets/drawer_panel.ts
Owners: @google/perfetto-ui-team

sdk: Add CPU time reasons to process state changed track event (#4858)
  Android.bp
  Android.bp.extras
  include/perfetto/public/protos/common/builtin_clock.pzc.h
  include/perfetto/public/protos/config/trace_config.pzc.h
  include/perfetto/public/protos/trace/android/android_track_event.pzc.h
  protos/perfetto/trace/android/android_track_event.proto
  python/perfetto/protos/perfetto/trace/perfetto_trace_pb2.py
  python/perfetto/protos/perfetto/trace/perfetto_trace_pb2.pyi
Owners: @google/perfetto-traced-team, @google/perfetto-team

presubmit: Don't silently fail on checks (#4860)
  tools/run_presubmit
Owners: none

stdlib: Merge tables to optimize memory and perf of Wattson (#4859)
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/arm_dsu.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/pivot.sql
  test/trace_processor/diff_tests/stdlib/wattson/tests.py
Owners: @google/perfetto-tp-team

tp: return error on Windows instead of not enabling functions (#4855)
  src/trace_processor/perfetto_sql/intrinsics/functions/utils.h
  src/trace_processor/trace_processor_impl.cc
Owners: @google/perfetto-tp-team

sdtlib: add new tracks to memory_breakdown module (#4862)
  src/trace_processor/perfetto_sql/stdlib/android/memory/memory_breakdown.sql
Owners: @google/perfetto-tp-team

Update dropped frame description (#4863)
  docs/data-sources/frametimeline.md
Owners: none

ui: MemoryViz add new mem tracks (#4814)
  ui/src/plugins/com.android.MemoryViz/index.ts
Owners: none

ui: Input events overlaps visualization command (#4820)
  ui/src/plugins/com.android.InputEvents/index.ts
Owners: none

stdlib: anrs add SYSTEM_SERVER_WATCHDOG_TIMEOUT type (#4864)
  src/trace_processor/perfetto_sql/stdlib/android/anrs.sql
  test/trace_processor/diff_tests/metrics/android/android_anr_metric.out
  test/trace_processor/diff_tests/metrics/android/android_anr_metric.py
  test/trace_processor/diff_tests/stdlib/android/tests.py
Owners: @google/perfetto-tp-team

ui: MemoryViz order buckets by peak (#4866)
  ui/src/plugins/com.android.MemoryViz/index.ts
Owners: none

tp: integrate ProtoVM (#4768)
  Android.bp
  BUILD
  include/perfetto/protozero/proto_decoder.h
  src/protozero/proto_decoder_unittest.cc
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/proto_trace_reader.cc
  src/trace_processor/importers/proto/proto_trace_reader.h
  src/trace_processor/importers/proto/protovm_incremental_tracing.cc
  src/trace_processor/importers/proto/protovm_incremental_tracing.h
  src/trace_processor/storage/stats.h
  test/trace_processor/diff_tests/include_index.py
  test/trace_processor/diff_tests/parser/android/protovm_incremental_tracing.textproto
  test/trace_processor/diff_tests/parser/android/tests_protovm_incremental_tracing.py
Owners: @google/perfetto-traced-team, @google/perfetto-tp-team

stdlib: memory_breakdown better anomaly detection (#4870)
  src/trace_processor/perfetto_sql/stdlib/android/memory/memory_breakdown.sql
Owners: @google/perfetto-tp-team

ui: gitignore .playwright (#4874)
  .gitignore
Owners: @google/perfetto-team

ui: Add more charts (#4877)
  ui/src/components/widgets/charts/boxplot.ts
  ui/src/components/widgets/charts/boxplot_loader.ts
  ui/src/components/widgets/charts/cdf_loader.ts
  ui/src/components/widgets/charts/chart_sql_source.ts
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/heatmap.ts
  ui/src/components/widgets/charts/heatmap_loader.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

tp: fix edge case with descendant slice (#4878)
  src/trace_processor/perfetto_sql/intrinsics/table_functions/descendant.cc
  test/data/ui-screenshots/chrome_scroll_jank_plugin.test.ts/event-latency-track/details-panel-link-to-scroll-timeline-v4.png.sha256
  test/data/ui-screenshots/chrome_scroll_jank_plugin.test.ts/scroll-timeline-track/details-panel-link-to-scroll-timeline-v4.png.sha256
  test/data/ui-screenshots/chrome_scroll_jank_plugin.test.ts/scroll-timeline-v4-track/scroll-timeline-v4-details-panel-frame.png.sha256
  test/data/ui-screenshots/chrome_scroll_jank_plugin.test.ts/scroll-timeline-v4-track/scroll-timeline-v4-details-panel-stage.png.sha256
  test/data/ui-screenshots/chrome_scroll_jank_plugin.test.ts/scroll-timeline-v4-track/scroll-timeline-v4-track.png.sha256
  test/trace_processor/diff_tests/stdlib/dynamic_tables/tests.py
Owners: @google/perfetto-tp-team

de: Multiple metrics in metrics node (#4875)
  ui/src/assets/explore_page/node_info/metrics.md
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/graph/graph.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_enum_utils.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_export_modal.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_node.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/metrics_node_unittest.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/widgets.scss
Owners: @google/perfetto-ui-team

ui: Datagrid disabled sorting and filtering unnecessarily (#4793)
  test/data/ui-screenshots/debug_tracks.test.ts/debug-tracks/debug-track-added.png.sha256
  test/data/ui-screenshots/queries.test.ts/omnibox-query/query-mode.png.sha256
  test/data/ui-screenshots/queries.test.ts/omnibox-query/row-1-clicked.png.sha256
  test/data/ui-screenshots/queries.test.ts/omnibox-query/row-2-clicked.png.sha256
  ui/src/components/widgets/datagrid/datagrid.ts
Owners: @google/perfetto-ui-team

ui: add command to visualize memory reclaim events (#4886)
  ui/src/plugins/com.android.MemoryViz/index.ts
Owners: none

perfetto: fix ODR violation with protovm in G3 (#4884)
  BUILD
  src/protovm/BUILD.gn
Owners: @google/perfetto-traced-team

tp: migrate all intrinsic scalar functions and tables to prelude (#4856)
  src/trace_processor/importers/proto/heap_graph_tracker.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/base64.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/clock_functions.h
  src/trace_processor/perfetto_sql/intrinsics/functions/math.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/utils.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/experimental_flamegraph.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/experimental_flat_slice.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/flamegraph_construction_algorithms.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/tables.py
  src/trace_processor/perfetto_sql/intrinsics/table_functions/winscope_proto_to_args_with_defaults.cc
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/indexes.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/views.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/before_eof/functions.sql
  src/trace_processor/storage/trace_storage.h
  src/trace_processor/tables/android_tables.py
  src/trace_processor/tables/flow_tables.py
  src/trace_processor/tables/metadata_tables.py
  src/trace_processor/tables/profiler_tables.py
  src/trace_processor/tables/sched_tables.py
  src/trace_processor/tables/slice_tables.py
  src/trace_processor/tables/winscope_tables.py
  src/trace_processor/util/symbolizer/symbolize_database.cc
  src/traceconv/trace_to_profile.cc
Owners: @google/perfetto-tp-team, @google/perfetto-traced-team

TraceBufferV2: improve stats (#4724)
  protos/perfetto/common/trace_stats.proto
  protos/perfetto/trace/perfetto_trace.proto
  src/tracing/service/trace_buffer_v1_with_v2_shadow.cc
  src/tracing/service/trace_buffer_v1_with_v2_shadow.h
Owners: @google/perfetto-team, @google/perfetto-traced-team

Revert "ui: Use modern pointer events & pointer capture on drawer panel resize handle (#4852) (#4887)
  ui/src/assets/widgets/drawer_panel.scss
  ui/src/widgets/drawer_panel.ts
Owners: @google/perfetto-ui-team

sdk: Fix non-standard proto enum patterns in android_track_event.proto (#4888)
  protos/perfetto/trace/android/android_track_event.proto
Owners: none

perfetto: export headers from src for bazel cc_library targets (#4889)
  BUILD
  tools/gen_bazel
Owners: none

ui: add support for recording traces with custom config (#4819)
  ui/src/plugins/dev.perfetto.RecordTraceV2/config/config_interfaces.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/buffer_config_page.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/record_page.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/target_selection_page.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/presets.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/recording_manager.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/serialization_schema.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/serialization_schema_unittest.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/styles.scss
Owners: none

Changes to websocket_bridge+trace_processor_shell to support using non-default WebUI origin (#4776)
  gn/BUILD.gn
  gn/perfetto.gni
  include/perfetto/base/build_configs/android_tree/perfetto_build_flags.h
  include/perfetto/base/build_configs/bazel/perfetto_build_flags.h
  src/trace_processor/trace_processor_shell.cc
  src/websocket_bridge/websocket_bridge.cc
Owners: @google/perfetto-team, @google/perfetto-traced-team, @google/perfetto-tp-team

tp: fix behaviour when multiple userlists are seen in trace (#4892)
  Android.bp
  BUILD
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/android_probes_module.cc
  src/trace_processor/importers/proto/user_tracker.cc
  src/trace_processor/importers/proto/user_tracker.h
  src/trace_processor/tables/android_tables.py
  src/trace_processor/trace_processor_context.cc
  src/trace_processor/types/trace_processor_context.h
  test/trace_processor/diff_tests/parser/android/tests.py
Owners: @google/perfetto-tp-team

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners
