Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners

protovm: allocators
  Android.bp
  gn/perfetto_unittests.gni
  src/protovm/allocator.cc
  src/protovm/allocator.h
  src/protovm/slab_allocator.h
  src/protovm/test/allocator_unittest.cc
  src/protovm/test/slab_allocator_unittest.cc
Owners: @google/perfetto-team, @google/perfetto-traced-team

protovm: rwproto
  src/protovm/rw_proto.cc
  src/protovm/rw_proto.h
  src/protovm/rw_proto_cursor.cc
  src/protovm/rw_proto_cursor.h
  src/protovm/test/rw_proto_unittest.cc
Owners: @google/perfetto-traced-team

protovm: rest
  Android.bp
  protos/perfetto/protovm/BUILD.gn
  protos/perfetto/protovm/vm_program.proto
  src/protovm/BUILD.gn
  src/protovm/error_handling.cc
  src/protovm/error_handling.h
  src/protovm/executor.cc
  src/protovm/executor.h
  src/protovm/node.cc
  src/protovm/node.h
  src/protovm/owned_ptr.h
  src/protovm/parser.cc
  src/protovm/parser.h
  src/protovm/ro_cursor.cc
  src/protovm/ro_cursor.h
  src/protovm/scalar.cc
  src/protovm/scalar.h
  src/protovm/test/mock_executor.h
  src/protovm/test/parser_unittest.cc
  src/protovm/test/protos/incremental_trace.proto
  src/protovm/test/ro_cursor_unittest.cc
  src/protovm/test/sample_packets.h
  src/protovm/test/sample_programs.h
  src/protovm/test/utils.cc
  src/protovm/test/utils.h
  src/protovm/test/vm_unittest.cc
  src/protovm/vm.cc
  src/protovm/vm.h
Owners: @google/perfetto-team, @google/perfetto-traced-team

base: add IntrusiveList
  Android.bp
  BUILD
  src/base/BUILD.gn
  src/base/intrusive_list.cc
  src/base/intrusive_list.h
  src/base/intrusive_list_unittest.cc
Owners: @google/perfetto-traced-team

base: add IntrusiveList
  Android.bp
  BUILD
  src/base/BUILD.gn
  src/base/intrusive_list.cc
  src/base/intrusive_list.h
  src/base/intrusive_list_unittest.cc
Owners: @google/perfetto-traced-team

f
  src/trace_processor/perfetto_sql/engine/dataframe_module.cc
  src/trace_processor/perfetto_sql/engine/dataframe_module.h
  src/trace_processor/perfetto_sql/engine/perfetto_sql_engine.cc
Owners: @google/perfetto-tp-team

f
  src/trace_processor/perfetto_sql/engine/dataframe_storage_module.h
Owners: @google/perfetto-tp-team

f
  src/trace_processor/perfetto_sql/engine/dataframe_storage_module.h
Owners: @google/perfetto-tp-team

protovm: slab allocator towards production quality
  src/protovm/slab_allocator.h
  src/protovm/test/slab_allocator_unittest.cc
Owners: @google/perfetto-traced-team

ui: fix modal sizing and add HTTPS auth to extension servers (#4802)
  ui/src/core_plugins/dev.perfetto.ExtensionServers/add_extension_server_modal.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/styles.scss
  ui/src/core_plugins/dev.perfetto.ExtensionServers/types.ts
Owners: @google/perfetto-ui-team

ui: use githubusercontent instread of API when unauth and improve error (#4809)
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server_unittest.ts
Owners: @google/perfetto-ui-team

ui: Fix crosshatching artifacts when RT slices are wider than the clip area (#4812)
  ui/src/base/gl/rects.ts
Owners: @google/perfetto-ui-team

ui: add support for filtering out zeros in info page (#4806)
  ui/src/plugins/dev.perfetto.TraceInfoPage/tabs/stats.ts
Owners: none

ui: Fix crash in slice track tooltips when no dur present in dataset (#4815)
  ui/src/components/tracks/slice_track.ts
Owners: @google/perfetto-ui-team

protovm: refactor serialization (#4816)
  src/protovm/rw_proto.cc
  src/protovm/rw_proto.h
  src/protovm/test/rw_proto_unittest.cc
  src/protovm/test/vm_unittest.cc
  src/protovm/vm.cc
  src/protovm/vm.h
  src/tracing/service/tracing_service_impl.cc
Owners: @google/perfetto-traced-team

sdk: Add binder died event (#4817)
  include/perfetto/public/protos/trace/android/android_track_event.pzc.h
  protos/perfetto/trace/android/android_track_event.proto
Owners: @google/perfetto-traced-team

tp: fix passthrough of context and sort order for container types (#4804)
  src/trace_processor/forwarding_trace_parser.cc
  src/trace_processor/importers/android_bugreport/android_bugreport_reader.cc
  src/trace_processor/importers/android_bugreport/android_bugreport_reader.h
  src/trace_processor/importers/archive/archive_entry.cc
  src/trace_processor/importers/archive/zip_trace_reader.cc
  test/trace_processor/diff_tests/parser/android/tests_bugreport.py
Owners: @google/perfetto-tp-team

perfetto_cmd: allow adding notes to traces (#3495) (#4735)
  protos/perfetto/config/perfetto_config.proto
  protos/perfetto/config/trace_config.proto
  protos/perfetto/trace/perfetto_trace.proto
  src/perfetto_cmd/perfetto_cmd.cc
  src/perfetto_cmd/perfetto_cmd_unittest.cc
Owners: @google/perfetto-traced-team

Fix Windows compilation and enable libperfetto_c on Windows (#4800)
  Android.bp
  include/perfetto/ext/base/sys_types.h
  src/base/ctrl_c_handler.cc
  tools/gen_android_bp
Owners: @google/perfetto-traced-team

traced_relay: refactor traced_relay to extract library target (#4811)
  include/perfetto/ext/traced/traced.h
  src/traced_relay/BUILD.gn
  src/traced_relay/relay_service.cc
  src/traced_relay/relay_service_main.cc
Owners: @google/perfetto-traced-team

tp: make ClockTracker per trace + machine and fix associated problems (#4805)
  src/trace_processor/BUILD.gn
  src/trace_processor/importers/android_bugreport/android_log_unittest.cc
  src/trace_processor/importers/common/clock_tracker.cc
  src/trace_processor/importers/common/clock_tracker.h
  src/trace_processor/importers/common/clock_tracker_unittest.cc
  src/trace_processor/importers/fuchsia/fuchsia_parser_unittest.cc
  src/trace_processor/importers/proto/network_trace_module_unittest.cc
  src/trace_processor/importers/proto/proto_trace_parser_impl_unittest.cc
  src/trace_processor/importers/proto/proto_trace_reader_unittest.cc
  src/trace_processor/storage/stats.h
  src/trace_processor/trace_processor_context.cc
  src/trace_processor/types/trace_processor_context.h
  src/trace_processor/util/clock_synchronizer.h
Owners: @google/perfetto-tp-team

tracebox: Bundle traced_relay (#4823)
  docs/reference/tracebox.md
  src/tracebox/BUILD.gn
  src/tracebox/tracebox.cc
  src/traced_relay/relay_service.cc
Owners: @google/perfetto-traced-team

ui: Support tags for selecting chrome trace categories (#4425)
  ui/src/plugins/dev.perfetto.RecordTraceV2/chrome/chrome_extension_target.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/pages/chrome.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/styles.scss
Owners: none

ui: BinderViz null aidl name fix (#4824)
  ui/src/plugins/com.android.AndroidBinderViz/index.ts
Owners: none

Trace Processor: Add regexp_replace_simple function to Perfetto SQL (#4763)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/intrinsics/functions/utils.h
  src/trace_processor/perfetto_sql/stdlib/prelude/before_eof/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/prelude/before_eof/functions.sql
  src/trace_processor/trace_processor_impl.cc
  src/trace_processor/util/regex.h
  src/trace_processor/util/regex_unittest.cc
  test/trace_processor/diff_tests/include_index.py
  test/trace_processor/diff_tests/stdlib/prelude/regexp_replace_simple.py
Owners: @google/perfetto-tp-team

Revert "Fix Windows compilation and enable libperfetto_c on Windows (#4800)" (#4830)
  Android.bp
  include/perfetto/ext/base/sys_types.h
  src/base/ctrl_c_handler.cc
  tools/gen_android_bp
Owners: @google/perfetto-traced-team

Add redacted traces PerfettoSQL module (#4790)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/stdlib/android/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/android/profiling_manager/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/android/profiling_manager/startup.sql
  src/trace_processor/perfetto_sql/stdlib/android/profiling_manager/util.sql
  test/data/redacted-startup.pb.sha256
  test/trace_processor/diff_tests/stdlib/android/tests.py
Owners: @google/perfetto-tp-team

Split memory profile tracks (#4831)
  ui/src/plugins/dev.perfetto.HeapProfile/common.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_details_panel.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_track.ts
  ui/src/plugins/dev.perfetto.HeapProfile/index.ts
Owners: none

proto: factor out MultifileErrorCollector (#4829)
  Android.bp
  BUILD
  gn/BUILD.gn
  src/protozero/BUILD.gn
  src/protozero/filtering/BUILD.gn
  src/protozero/filtering/filter_util.cc
  src/protozero/multifile_error_collector.cc
  src/protozero/multifile_error_collector.h
  src/tools/proto_merger/BUILD.gn
  src/tools/proto_merger/main.cc
Owners: @google/perfetto-team, @google/perfetto-traced-team

ui: Always create build.js lockfile (#4834)
  ui/build.js
Owners: @google/perfetto-ui-team

de: Migrate charts to echarts (#4761)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/assets/theme_provider.scss
  ui/src/assets/widgets/charts.scss
  ui/src/components/widgets/charts/bar_chart.ts
  ui/src/components/widgets/charts/bar_chart_loader.ts
  ui/src/components/widgets/charts/chart_option_builder.ts
  ui/src/components/widgets/charts/chart_theme.ts
  ui/src/components/widgets/charts/chart_utils.ts
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/histogram.ts
  ui/src/components/widgets/charts/histogram_loader.ts
  ui/src/components/widgets/charts/line_chart.ts
  ui/src/components/widgets/charts/line_chart_loader.ts
  ui/src/components/widgets/charts/pie_chart.ts
  ui/src/components/widgets/charts/pie_chart_loader.ts
  ui/src/components/widgets/charts/scatterplot.ts
  ui/src/components/widgets/charts/scatterplot_loader.ts
  ui/src/components/widgets/charts/svg_brush.ts
  ui/src/components/widgets/charts/treemap.ts
  ui/src/components/widgets/charts/treemap_loader.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

stdlib: Some performance optimizations for Wattson (#4839)
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/idle.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/pivot.sql
  test/trace_processor/diff_tests/stdlib/wattson/tests.py
Owners: @google/perfetto-tp-team

tp: Expand interval_intersect to 10 tables (#4840)
  src/trace_processor/perfetto_sql/engine/table_pointer_module.cc
  src/trace_processor/perfetto_sql/intrinsics/functions/interval_intersect.cc
  src/trace_processor/perfetto_sql/stdlib/intervals/intersect.sql
  src/trace_processor/perfetto_sql/stdlib/wattson/cpu/pivot.sql
  test/trace_processor/diff_tests/stdlib/wattson/tests.py
Owners: @google/perfetto-tp-team

stdlib: add startup upid to _android_startup_mipmap_1ms (#4842)
  src/trace_processor/perfetto_sql/stdlib/android/startup/startup_mipmap.sql
Owners: @google/perfetto-tp-team

de: Enable children set control (#4828)
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/core_nodes.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/graph/graph.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/graph/menu_utils.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/graph/node_box.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/node_registry.ts
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/node_registry_unittest.ts
Owners: none

tp: Convert input monotonic field values to boottime and add to args table. (#4843)
  src/trace_processor/importers/proto/winscope/BUILD.gn
  src/trace_processor/importers/proto/winscope/android_input_event_parser.cc
  src/trace_processor/importers/proto/winscope/android_input_event_parser.h
  test/trace_processor/diff_tests/parser/android/tests_android_input_event.py
Owners: @google/perfetto-tp-team

tp: improve printing of error/data loss stats in shell (#4818)
  src/trace_processor/trace_processor_shell.cc
Owners: @google/perfetto-tp-team

de: Enable perfetto-sql language support in DE (#4845)
  ui/src/plugins/dev.perfetto.ExplorePage/query_builder/nodes/sources/sql_source.ts
Owners: none

tp: fix suspend state for secondary machines (#4849)
  src/trace_processor/perfetto_sql/stdlib/android/suspend.sql
  test/trace_processor/diff_tests/stdlib/android/tests.py
Owners: @google/perfetto-tp-team

tp: fix roll into Chromium (#4848)
  src/trace_processor/util/regex.h
Owners: @google/perfetto-tp-team
