Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners

tp: Support shared resources in Gecko trace importer (#5050)
  src/trace_processor/importers/gecko/gecko_trace_tokenizer.cc
  src/trace_processor/importers/gecko/gecko_trace_tokenizer.h
  test/data/gecko_shared_resources.json.gz.sha256
  test/trace_processor/diff_tests/parser/gecko/tests.py
Owners: @google/perfetto-tp-team

ui: GpuCompute plugin: performance improvements and bug fixes (#5595)
  ui/src/plugins/com.meta.GpuCompute/details.ts
  ui/src/plugins/com.meta.GpuCompute/index.ts
  ui/src/plugins/com.meta.GpuCompute/summary.ts
  ui/src/plugins/com.meta.GpuCompute/toolbar.ts
Owners: none

de: Centralize legacy type migration in the deserialization layer (#5604)
  ui/src/plugins/dev.perfetto.DataExplorer/json_handler.ts
  ui/src/plugins/dev.perfetto.DataExplorer/json_handler_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/column_info.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/column_info_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/core_nodes.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/add_columns_node.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/join_node.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/join_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/modify_columns_node.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/modify_columns_node_unittest.ts
Owners: none

docs: Heap Dump Explorer user guide (#5603)
  docs/images/heap_docs/01-sidebar.png
  docs/images/heap_docs/02-flamegraph-menu.png
  docs/images/heap_docs/03-tab-bar.png
  docs/images/heap_docs/04-overview.png
  docs/images/heap_docs/05-classes.png
  docs/images/heap_docs/06-objects-string.png
  docs/images/heap_docs/07-dominators.png
  docs/images/heap_docs/08-bitmaps-gallery.png
  docs/images/heap_docs/09-bitmaps-show-paths.png
  docs/images/heap_docs/10-strings.png
  docs/images/heap_docs/11-arrays.png
  docs/images/heap_docs/12-object-tab-top.png
  docs/images/heap_docs/12a-objects-profile-activity.png
  docs/images/heap_docs/13-object-tab-bottom.png
  docs/images/heap_docs/14-flamegraph-bottom-panel.png
  docs/images/heap_docs/15-flamegraph-objects-tab.png
  docs/images/heap_docs/16-fixed-overview.png
  docs/toc.md
  docs/visualization/heap-dump-explorer.md
Owners: none

ui: Move command fuzzy out of CommandManager (#5605)
  ui/src/core/command_manager.ts
  ui/src/frontend/omnibox.ts
Owners: @google/perfetto-ui-team

ui: Tidy up the public CommandManager interface (#5607)
  ui/src/core/command_manager.ts
  ui/src/core/trace_impl.ts
  ui/src/frontend/help_modal.ts
  ui/src/frontend/index.ts
  ui/src/frontend/omnibox.ts
  ui/src/frontend/sidebar.ts
  ui/src/public/app.ts
  ui/src/public/commands.ts
Owners: @google/perfetto-ui-team

ui: Add shortest path from GC root to heap dump explorer (#5609)
  docs/visualization/heap-dump-explorer.md
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/com.android.HeapDumpExplorer/types.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/bitmap_gallery_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/object_view.ts
Owners: none

ui: surface blocked/failed startup commands in a dialog (#5612)
  ui/src/core/command_manager.ts
  ui/src/core/load_trace.ts
Owners: @google/perfetto-ui-team

tp: drive DebugAnnotation parsing on the proto-args work stack (#5587)
  Android.bp
  BUILD
  src/trace_processor/importers/proto/track_event_event_importer.h
  src/trace_processor/importers/proto/track_event_parser.cc
  src/trace_processor/util/BUILD.gn
  src/trace_processor/util/debug_annotation_parser.cc
  src/trace_processor/util/debug_annotation_parser.h
  src/trace_processor/util/debug_annotation_parser_unittest.cc
  src/trace_processor/util/proto_to_args_parser.cc
  src/trace_processor/util/proto_to_args_parser.h
  src/trace_processor/util/proto_to_args_parser_unittest.cc
Owners: @google/perfetto-tp-team

Bigtrace UI V0 (#5243)
  python/tools/check_imports.py
  ui/.prettierignore
  ui/build.js
  ui/src/assets/bigtrace.scss
  ui/src/assets/widgets.scss
  ui/src/bigtrace/bigtrace_app.ts
  ui/src/bigtrace/help_modal.ts
  ui/src/bigtrace/index.ts
  ui/src/bigtrace/layout/omnibox.ts
  ui/src/bigtrace/layout/sidebar.ts
  ui/src/bigtrace/layout/topbar.ts
  ui/src/bigtrace/pages/home_page.ts
  ui/src/bigtrace/pages/query_page.ts
  ui/src/bigtrace/pages/settings_page.ts
  ui/src/bigtrace/query/http_data_source.ts
  ui/src/bigtrace/query/query_history.ts
  ui/src/bigtrace/query/query_history_storage.ts
  ui/src/bigtrace/query/query_state.ts
  ui/src/bigtrace/query/sql_modules.ts
  ui/src/bigtrace/query/sql_tables.ts
  ui/src/bigtrace/query/table_list.ts
  ui/src/bigtrace/router.ts
  ui/src/bigtrace/routes.ts
  ui/src/bigtrace/settings/bigtrace_settings_service.ts
  ui/src/bigtrace/settings/bigtrace_settings_storage.ts
  ui/src/bigtrace/settings/endpoint_storage.ts
  ui/src/bigtrace/settings/settings_storage.ts
  ui/src/bigtrace/settings/settings_types.ts
  ui/src/bigtrace/settings/settings_widgets.ts
  ui/tsconfig.json
Owners: @google/perfetto-team, @google/perfetto-ui-team

tp: stop mutating PacketSequenceStateGeneration on packet loss (#5588)
  src/trace_processor/importers/proto/packet_sequence_state_generation.cc
  src/trace_processor/importers/proto/packet_sequence_state_generation.h
  src/trace_processor/importers/proto/track_event_sequence_state.h
Owners: @google/perfetto-tp-team

perfetto: add perfetto_cpp_blob_header codegen primitive (#5610)
  Android.bp
  BUILD
  BUILD.extras
  bazel/rules.bzl
  gn/perfetto_cc_proto_descriptor.gni
  gn/perfetto_cpp_blob_header.gni
  python/BUILD
  python/BUILD.gn
  python/tools/cpp_blob_emitter.py
  tools/gen_android_bp
  tools/gen_bazel
  tools/gen_cc_proto_descriptor.py
Owners: @google/perfetto-team

ui: Click Grid column title to sort (#5608)
  ui/src/widgets/grid.ts
Owners: @google/perfetto-ui-team

ui: Improve TableList performance (#5619)
  ui/src/plugins/dev.perfetto.QueryPage/table_list.ts
  ui/src/widgets/accordion.ts
Owners: @google/perfetto-ui-team

ui: Animate Accordion widget expand/collapse (#5572)
  ui/src/assets/widgets/accordion.scss
Owners: @google/perfetto-ui-team

ui: dedupe regex track matches under headless containers (#5621)
  test/data/ui-screenshots/startup_commands_allowlist.test.ts/dev-perfetto-CopyTracksToWorkspaceByRegex-command-test/after.png.sha256
  test/data/ui-screenshots/startup_commands_allowlist.test.ts/dev-perfetto-CopyTracksToWorkspaceByRegexWithAncestors-command-test/after.png.sha256
  test/data/ui-screenshots/startup_commands_allowlist.test.ts/dev-perfetto-PinTracksByRegex-command-test/after.png.sha256
  test/data/ui-screenshots/startup_commands_allowlist.test.ts/dev-perfetto-PinTracksByRegex-with-explicit-name-filtering/after.png.sha256
  test/data/ui-screenshots/startup_commands_allowlist.test.ts/dev-perfetto-PinTracksByRegex-with-path-filtering/after.png.sha256
  tools/download_changed_screenshots.py
  ui/src/core_plugins/dev.perfetto.TracklUtils/index.ts
Owners: @google/perfetto-ui-team

ui: Update material icons (#5622)
  tools/install-build-deps
Owners: none

tp: prep PerfettoSqlParser for a second backend (#5614)
  src/trace_processor/perfetto_sql/engine/BUILD.gn
  src/trace_processor/perfetto_sql/engine/perfetto_sql_engine.cc
  src/trace_processor/perfetto_sql/engine/perfetto_sql_engine.h
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.cc
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.h
Owners: @google/perfetto-tp-team

bigtrace-ui: Fix usage of commands (#5624)
  ui/src/bigtrace/help_modal.ts
  ui/src/bigtrace/index.ts
  ui/src/bigtrace/layout/omnibox.ts
Owners: @google/perfetto-ui-team

ui: Add shortest-path option to heap dump explorer bitmap tab (#5620)
  docs/visualization/heap-dump-explorer.md
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/com.android.HeapDumpExplorer/styles.scss
  ui/src/plugins/com.android.HeapDumpExplorer/views/bitmap_gallery_view.ts
Owners: none

tp: amalgamated SQL via cpp_blob_header primitive (#5613)
  Android.bp
  BUILD
  BUILD.extras
  bazel/rules.bzl
  gn/perfetto_sql.gni
  src/trace_processor/BUILD.gn
  src/trace_processor/trace_processor_impl.cc
  src/trace_processor/util/BUILD.gn
  src/trace_processor/util/sql_bundle.h
  tools/gen_amalgamated_sql.py
  tools/gen_android_bp
  tools/gen_bazel
Owners: @google/perfetto-team, @google/perfetto-tp-team

tp: fix compile in C++20 (#5626)
  src/trace_processor/util/proto_to_args_parser.cc
Owners: @google/perfetto-tp-team

Avoid dangling pointers from SizeProfileComputer::Field to ProtoDescr… (#5627)
  src/trace_processor/util/proto_profiler.cc
  src/trace_processor/util/proto_profiler.h
  src/trace_processor/util/proto_profiler_unittest.cc
Owners: @google/perfetto-tp-team

tp: split TrackEventSequenceState into descriptor + delta state (#5590)
  BUILD
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/packet_sequence_state_generation.cc
  src/trace_processor/importers/proto/packet_sequence_state_generation.h
  src/trace_processor/importers/proto/profile_module.cc
  src/trace_processor/importers/proto/stack_profile_sequence_state.cc
  src/trace_processor/importers/proto/track_event_event_importer.h
  src/trace_processor/importers/proto/track_event_sequence_state.cc
  src/trace_processor/importers/proto/track_event_sequence_state.h
  src/trace_processor/importers/proto/track_event_thread_descriptor.h
  src/trace_processor/importers/proto/track_event_tokenizer.cc
  src/trace_processor/importers/proto/track_event_tracker.cc
Owners: @google/perfetto-tp-team

ui: Disambiguate multi-dump traces in the Heap Dump Explorer (#5631)
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/com.android.HeapDumpExplorer/styles.scss
  ui/src/plugins/com.android.HeapDumpExplorer/views/all_objects_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/arrays_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/classes_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/dominators_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/strings_view.ts
Owners: none

heap_profile: docs for android/host split + glibc preload fix (#5630)
  docs/case-studies/memory.md
  docs/data-sources/native-heap-profiler.md
  docs/getting-started/memory-profiling.md
  docs/images/heapprofd-host-flamegraph.png
  docs/instrumentation/heapprofd-api.md
  docs/learning-more/symbolization.md
  docs/reference/heap_profile-cli.md
  python/tools/heap_profile.py
  src/profiling/memory/malloc_interceptor_glibc_preload.cc
  tools/heap_profile
Owners: @google/perfetto-team, @google/perfetto-traced-team

gpu: Add structured compute kernel encoding and launch parameters (#5596)
  Android.bp
  BUILD
  protos/perfetto/trace/gpu/BUILD.gn
  protos/perfetto/trace/gpu/gpu_interned_data.proto
  protos/perfetto/trace/gpu/gpu_render_stage_event.proto
  protos/perfetto/trace/interned_data/interned_data.proto
  protos/perfetto/trace/interned_data/interned_data_extensions.json
  python/generators/diff_tests/models.py
  python/generators/diff_tests/runner.py
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/gpu_event_parser.cc
  src/trace_processor/importers/proto/gpu_event_parser.h
  test/trace_processor/diff_tests/parser/graphics/gpu_compute_kernel.textproto
  test/trace_processor/diff_tests/parser/graphics/gpu_compute_launch.textproto
  test/trace_processor/diff_tests/parser/graphics/tests_gpu_trace.py
  tools/diff_test_trace_processor.py
  ui/src/plugins/com.meta.GpuCompute/details.ts
  ui/src/plugins/com.meta.GpuCompute/section/index.ts
  ui/src/plugins/com.meta.GpuCompute/section/launch_statistics.ts
  ui/src/plugins/com.meta.GpuCompute/section/occupancy.ts
  ui/src/plugins/com.meta.GpuCompute/summary.ts
Owners: @google/perfetto-team, @google/perfetto-tp-team

build: re-run gen_android_bp and gen_bazel (#5634)
  Android.bp
  BUILD
Owners: none

rust-sdk: generate new proto bindings and bump crate versions (#5633)
  contrib/rust-sdk/Cargo.lock
  contrib/rust-sdk/perfetto-protos-gpu/Cargo.toml
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/gpu/gpu_render_stage_event.pz.rs
  contrib/rust-sdk/perfetto-sys/Cargo.toml
  contrib/rust-sdk/perfetto/Cargo.toml
  contrib/rust-sdk/perfetto/src/protos/trace/track_event/screenshot.pz.rs
  contrib/rust-sdk/perfetto/src/protos/trace/track_event/thread_descriptor.pz.rs
Owners: @google/perfetto-team

tp: declare nested classes first, before any usage (#5628)
  src/trace_processor/util/proto_to_args_parser.cc
Owners: @google/perfetto-tp-team

tp: fix compile in G3 (#5635)
  BUILD
  BUILD.extras
Owners: none

Add disp_frame_start/done_missing ftrace (#5617)
  protos/perfetto/trace/ftrace/dpu.proto
  protos/perfetto/trace/ftrace/ftrace_event.proto
  src/tools/ftrace_proto_gen/event_list
  src/trace_processor/importers/ftrace/ftrace_descriptors.cc
  src/trace_processor/importers/ftrace/ftrace_parser.cc
  src/trace_processor/importers/ftrace/pixel_display_tracker.cc
  src/trace_processor/importers/ftrace/pixel_display_tracker.h
  src/traced/probes/ftrace/event_info.cc
  src/traced/probes/ftrace/predefined_tracepoints.cc
  src/traced/probes/ftrace/test/data/synthetic/events/dpu/disp_frame_done_missing/format
  src/traced/probes/ftrace/test/data/synthetic/events/dpu/disp_frame_start_missing/format
  ui/src/plugins/dev.perfetto.TraceProcessorTrack/slice_tracks.ts
Owners: @google/perfetto-traced-team, @google/perfetto-tp-team

ui: Fix SQL syntax error for dotted launch arg names (#5638)
  ui/src/plugins/com.meta.GpuCompute/details.ts
Owners: none

docs: Update links (#5640)
  docs/analysis/batch-trace-processor.md
  docs/case-studies/memory.md
  docs/contributing/chrome-branches.md
  docs/contributing/common-tasks.md
  docs/contributing/sdk-releasing.md
  docs/contributing/ui-getting-started.md
  docs/data-sources/cpu-scheduling.md
  docs/design-docs/batch-trace-processor.md
  docs/faq.md
  docs/getting-started/android-trace-analysis.md
  docs/getting-started/memory-profiling.md
  docs/getting-started/other-formats.md
  docs/learning-more/android.md
  docs/learning-more/symbolization.md
  docs/visualization/commands-automation-reference.md
  docs/visualization/deep-linking-to-perfetto-ui.md
Owners: none

perfetto: bump CHANGELOG for v55.0 release (#5623)
  CHANGELOG
Owners: @google/perfetto-team

ui: Switch active heap dump on 'Open in Heapdump Explorer' (#5641)
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_details_panel.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_track.ts
  ui/src/plugins/dev.perfetto.HeapProfile/index.ts
Owners: none

ui: Refactor sidebar (#5606)
  ui/src/core_plugins/dev.perfetto.Timeline/index.ts
  ui/src/frontend/sidebar.ts
  ui/src/frontend/ui_main.ts
  ui/src/frontend/views/engine_status_badge.ts
  ui/src/frontend/views/hiring_banner.ts
  ui/src/frontend/views/service_worker_status_badge.ts
  ui/src/frontend/views/sidebar.ts
  ui/src/frontend/views/sidebar_item.ts
  ui/src/frontend/views/sidebar_section.ts
  ui/src/frontend/views/sidebar_unittest.ts
Owners: @google/perfetto-ui-team

docs: Document subcommand-based trace_processor CLI (#5632)
  docs/analysis/trace-processor.md
  docs/analysis/trace-summary.md
  docs/contributing/common-tasks.md
  docs/visualization/large-traces.md
Owners: none

de: Improve testing utils (#5647)
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/node_propagation_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/add_columns_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/aggregation_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/connections_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/counter_to_intervals_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/create_slices_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/filter_during_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/filter_in_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/group_node/group_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/interval_intersect_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/join_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/metrics_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/modify_columns_node_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/sources/sql_source_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/sources/timerange_source_unittest.ts
  ui/src/plugins/dev.perfetto.DataExplorer/query_builder/nodes/union_node_unittest.ts
Owners: none

rust-sdk: fix codegen for cross-crate proto extensions (#5646)
  contrib/rust-sdk/Cargo.lock
  contrib/rust-sdk/perfetto-protos-gpu/Cargo.toml
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/gpu/gpu_interned_data.pz.rs
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/gpu/mod.rs
  contrib/rust-sdk/tools/gen_rust_protos
  src/protozero/protoc_plugin/protozero_rust_plugin.cc
Owners: @google/perfetto-team, @google/perfetto-traced-team
