Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners

perfetto: prepare for OOT TrackEvent extensions (#5807)
  Android.bp
  BUILD.gn
  protos/perfetto/trace/track_event/track_event_extensions.json
  protos/third_party/android/frameworks/base/proto/tracing/BUILD.gn
  protos/third_party/android/frameworks/base/proto/tracing/frameworks_base_track_event.proto
  protos/third_party/android/frameworks/native/tracing/BUILD.gn
  protos/third_party/android/frameworks/native/tracing/frameworks_native_track_event.proto
  src/protozero/protoc_plugin/protozero_c_plugin.cc
  tools/gen_android_bp
  tools/test_data.txt
Owners: @google/perfetto-team, @google/perfetto-traced-team

sdk: Add Android process binding events (#5773)
  Android.bp
  Android.bp.extras
  include/perfetto/public/protos/trace/android/android_track_event.pzc.h
  protos/perfetto/trace/android/android_track_event.proto
Owners: @google/perfetto-traced-team

protovm: fix merge of repeated fields (#5804)
  src/protovm/node.h
  src/protovm/rw_proto_cursor.cc
  src/protovm/test/rw_proto_unittest.cc
Owners: @google/perfetto-traced-team

protovm: fix UAF in protovm::ParseSelect (#5795)
  src/protovm/error_handling.h
  src/protovm/executor.h
  src/protovm/parser.cc
  src/protovm/rw_proto_cursor.cc
  src/protovm/rw_proto_cursor.h
  src/protovm/test/parser_unittest.cc
  src/protovm/test/rw_proto_unittest.cc
  src/protovm/test/sample_programs.h
  src/protovm/test/vm_unittest.cc
  src/tracing/service/packet_stream_validator.cc
  src/tracing/service/packet_stream_validator_unittest.cc
Owners: @google/perfetto-traced-team

ui: Memscope - Live dashboard page (#5785)
  ui/src/assets/theme_provider.scss
  ui/src/plugins/dev.perfetto.Memscope/components/billboard.scss
  ui/src/plugins/dev.perfetto.Memscope/components/billboard.ts
  ui/src/plugins/dev.perfetto.Memscope/components/color_chip.scss
  ui/src/plugins/dev.perfetto.Memscope/components/color_chip.ts
  ui/src/plugins/dev.perfetto.Memscope/components/panel.scss
  ui/src/plugins/dev.perfetto.Memscope/components/panel.ts
  ui/src/plugins/dev.perfetto.Memscope/index.ts
  ui/src/plugins/dev.perfetto.Memscope/process_categories.ts
  ui/src/plugins/dev.perfetto.Memscope/process_data.ts
  ui/src/plugins/dev.perfetto.Memscope/sessions/live_session.ts
  ui/src/plugins/dev.perfetto.Memscope/styles.scss
  ui/src/plugins/dev.perfetto.Memscope/utils.ts
  ui/src/plugins/dev.perfetto.Memscope/views/connection.ts
  ui/src/plugins/dev.perfetto.Memscope/views/dashboard.scss
  ui/src/plugins/dev.perfetto.Memscope/views/dashboard.ts
  ui/src/plugins/dev.perfetto.Memscope/views/tabs/page_cache.ts
  ui/src/plugins/dev.perfetto.Memscope/views/tabs/pressure_swap.ts
  ui/src/plugins/dev.perfetto.Memscope/views/tabs/processes.ts
  ui/src/plugins/dev.perfetto.Memscope/views/tabs/system.ts
Owners: @google/perfetto-ui-team

ui: Improve UX of com.android.AndroidLockContention (#5392)
  ui/src/plugins/com.android.AndroidLockContention/android_lock_contention_event_source.ts
  ui/src/plugins/com.android.AndroidLockContention/index.ts
  ui/src/plugins/com.android.AndroidLockContention/lock_contention_sql.ts
  ui/src/plugins/com.android.AndroidLockContention/lock_owner_details_panel.ts
  ui/src/plugins/com.android.AndroidLockContention/styles.scss
  ui/src/plugins/com.android.AndroidLockContention/tab.ts
Owners: none

ui: Use compact font in RadioGroup (#5829)
  test/data/ui-screenshots/debug_tracks.test.ts/debug-tracks/debug-track-menu.png.sha256
  ui/src/assets/widgets/radio_group.scss
Owners: @google/perfetto-ui-team

ui: Rename HeapDumpExplorer CSS classes from ah- to pf-hde- (#5830)
  ui/src/plugins/com.android.HeapDumpExplorer/components.ts
  ui/src/plugins/com.android.HeapDumpExplorer/format.ts
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/styles.scss
  ui/src/plugins/com.android.HeapDumpExplorer/views/all_objects_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/arrays_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/bitmap_gallery_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/classes_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/dominators_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/flamegraph_objects_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/flamegraph_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/object_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/overview_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/strings_view.ts
Owners: none

ui: Chart tweaks (#5828)
  test/data/ui-screenshots/table_viewer.test.ts/slices-with-same-name/slices-with-same-name.png.sha256
  ui/src/assets/widgets/chart_svg.scss
  ui/src/components/widgets/charts/line_chart.ts
  ui/src/components/widgets/charts_svg/common.ts
  ui/src/components/widgets/charts_svg/histogram_svg.ts
  ui/src/components/widgets/charts_svg/legend.ts
  ui/src/components/widgets/charts_svg/line_chart_svg.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

perfetto: revert schema declarations from third_party Android protos (#5832)
  protos/perfetto/trace/track_event/track_event_extensions.json
  protos/third_party/android/frameworks/base/proto/tracing/frameworks_base_track_event.proto
  protos/third_party/android/frameworks/native/tracing/frameworks_native_track_event.proto
Owners: @google/perfetto-team

ui: Restrict Wattson GPU track to supported devices (#5834)
  ui/src/plugins/org.kernel.Wattson/index.ts
Owners: none

ui: Stop auto-selecting heap-graph dumps on the timeline (#5836)
  ui/src/plugins/dev.perfetto.HeapProfile/index.ts
Owners: none

tp: add new tool for computing lineage of sql modules (#5837)
  Android.bp
  BUILD
  BUILD.gn
  src/trace_processor/perfetto_sql/lineage_resolver/BUILD.gn
  src/trace_processor/perfetto_sql/lineage_resolver/lineage_resolver.cc
  src/trace_processor/perfetto_sql/lineage_resolver/lineage_resolver.h
  src/trace_processor/perfetto_sql/parser/BUILD.gn
  src/trace_processor/perfetto_sql/pfsql/BUILD.gn
  src/trace_processor/perfetto_sql/pfsql/main.cc
  src/trace_processor/perfetto_sql/syntaqlite/BUILD.gn
  tools/gen_bazel
Owners: @google/perfetto-tp-team

Add the total weighted missed frames to the CUJ metrics. (#5803)
  protos/perfetto/metrics/android/jank_cuj_metric.proto
  python/perfetto/trace_processor/metrics.descriptor
  src/trace_processor/metrics/sql/android/android_jank_cuj.sql
  src/trace_processor/metrics/sql/android/jank/internal/counters.sql
  test/trace_processor/diff_tests/metrics/graphics/android_jank_cuj.out
  test/trace_processor/diff_tests/metrics/graphics/android_jank_cuj.py
Owners: @google/perfetto-team, @google/perfetto-tp-team

Add support for a PARTITION BY clause to generateSqlWithInternalLayout() (#5842)
  test/trace_processor/diff_tests/stdlib/prelude/window_functions_tests.py
  ui/src/components/sql_utils/layout.ts
Owners: @google/perfetto-ui-team

[ChromeScrollJank plugin] Add a command for visualizing frame timelines (#5833)
  ui/src/plugins/org.chromium.ChromeScrollJank/frame_timeline_model.ts
  ui/src/plugins/org.chromium.ChromeScrollJank/frame_timeline_track.ts
  ui/src/plugins/org.chromium.ChromeScrollJank/index.ts
Owners: none

perfetto: fix typos in design, contributing, and analysis docs (#5840)
  docs/AGENTS-ui.md
  docs/analysis/perfetto-sql-syntax.md
  docs/analysis/trace-processor-python.md
  docs/contributing/build-instructions.md
  docs/contributing/common-tasks.md
  docs/contributing/developer-tools.md
  docs/contributing/getting-started.md
  docs/contributing/testing.md
  docs/contributing/ui-getting-started.md
  docs/design-docs/batch-trace-processor.md
  docs/design-docs/protozero.md
Owners: none

ui: Keep timeline default for native profiles and perf samples (#5843)
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
Owners: none

tp: Downgrade android_aflags_errors to kInfo (#5844)
  docs/data-sources/android-aflags.md
  src/trace_processor/storage/stats.h
  test/trace_processor/diff_tests/parser/android/tests_aflags.py
Owners: @google/perfetto-tp-team

perfetto: upgrade syntaqlite version to 0.5.9 (#5821)
  src/trace_processor/perfetto_sql/syntaqlite/perfetto.synq
  src/trace_processor/perfetto_sql/syntaqlite/syntaqlite_perfetto.c
  src/trace_processor/perfetto_sql/syntaqlite/syntaqlite_perfetto.h
  tools/install-build-deps
  ui/package.json
  ui/pnpm-lock.yaml
Owners: @google/perfetto-tp-team, @google/perfetto-ui-team

ui: Control HeapDumpExplorer auto-opening via feature flag (#5845)
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/dev.perfetto.HeapProfile/index.ts
Owners: none

ui: Enable com.android.AndroidLockContention by default (#5831)
  test/data/ui-screenshots/load_and_tracks.test.ts/mark/mark.png.sha256
  ui/src/core/embedder/default_plugins.ts
Owners: @google/perfetto-ui-team

ui: Migrate build.js commonjs -> ESM and rename to build.mjs (#5848)
  ui/.prettierignore
  ui/BUILD.gn
  ui/build
  ui/build.mjs
  ui/package.json
  ui/run-all-tests
  ui/run-dev-server
  ui/run-unittests
  ui/src/engine/wasm_bridge.ts
Owners: @google/perfetto-ui-team

tp: Account for width/height in ViewCapture visibility computation. (#5850)
  src/trace_processor/importers/proto/winscope/viewcapture_test_utils.h
  src/trace_processor/importers/proto/winscope/viewcapture_visibility_computation.cc
  src/trace_processor/importers/proto/winscope/viewcapture_visibility_computation_unittest.cc
Owners: @google/perfetto-tp-team

perfetto: declare empty permissions for pr-branch-check workflow (#5839)
  .github/workflows/pr-branch-check.yml
Owners: @google/perfetto-team

tp: temporarily fix syntaqlite formatting for SQL (#5852)
  src/trace_processor/perfetto_sql/syntaqlite/BUILD.gn
Owners: @google/perfetto-tp-team

Revert "Update references to old windows toolchain (#5759)" (#5853)
  infra/luci/recipe_modules/windows_sdk/__init__.py
  infra/luci/recipe_modules/windows_sdk/examples/full.expected/win.json
  infra/luci/recipes/perfetto.expected/ci_win.json
Owners: @google/perfetto-team

stdlib: Add bitmap specific table with bitmap metadata. (#5824)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/stdlib/android/memory/heap_graph/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/android/memory/heap_graph/bitmap.sql
Owners: @google/perfetto-tp-team

changelog: add v55.1 for windows fix (#5856)
  CHANGELOG
Owners: @google/perfetto-team

perfetto: add adreno fix to changelog (#5858)
  CHANGELOG
Owners: @google/perfetto-team

Reapply "tp: route PerfettoSqlParser through syntaqlite macro expansion" (#5854)
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.h
Owners: @google/perfetto-tp-team

Add FileIo_PathOperation events to tracing protos (#5768)
  protos/perfetto/trace/etw/etw.proto
  protos/perfetto/trace/etw/etw_event.proto
  src/trace_processor/importers/etw/etw_parser.cc
  src/trace_processor/importers/etw/file_io_tracker.cc
  src/trace_processor/importers/etw/file_io_tracker.h
Owners: @google/perfetto-tp-team

ui: Add bitmap metadata to the HeapDumpExplorer page (#5861)
  ui/src/plugins/com.android.HeapDumpExplorer/components.ts
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/com.android.HeapDumpExplorer/types.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/bitmap_gallery_view.ts
Owners: none

perfetto: bump prebuilts to v55.1 (#5866)
  python/perfetto/prebuilts/manifests/heapprofd_glibc_preload.py
  python/perfetto/prebuilts/manifests/trace_processor_shell.py
  python/perfetto/prebuilts/manifests/tracebox.py
  python/perfetto/prebuilts/manifests/traceconv.py
  tools/cpu_profile
  tools/heap_profile
  tools/record_android_trace
  tools/trace_processor
  tools/tracebox
  tools/traceconv
Owners: @google/perfetto-team

ui: Refresh query page columns on each query (#5872)
  ui/src/plugins/dev.perfetto.QueryPage/results_table.ts
Owners: none

ui: Add initial page plumbing (#5869)
  ui/src/core/initial_page_manager.ts
  ui/src/core/load_trace.ts
  ui/src/core/trace_impl.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/public/initial_page.ts
  ui/src/public/trace.ts
Owners: @google/perfetto-ui-team

perfetto_hprof proto changes for process & package metadata (#5855)
  Android.bp
  BUILD
  protos/perfetto/trace/perfetto_trace.proto
  protos/perfetto/trace/profiling/BUILD.gn
  protos/perfetto/trace/profiling/art_process_metadata.proto
  protos/perfetto/trace/profiling/heap_graph.proto
  protos/perfetto/trace/trace_packet.proto
Owners: none

Wrap around when using the keyboard to navigate the command palette (#5849)
  test/data/ui-screenshots/omnibox.test.ts/command-palette-keyboard-navigation/command-palette-pos-0.png.sha256
  test/data/ui-screenshots/omnibox.test.ts/command-palette-keyboard-navigation/command-palette-pos-1.png.sha256
  test/data/ui-screenshots/omnibox.test.ts/command-palette-keyboard-navigation/command-palette-pos-end-1.png.sha256
  test/data/ui-screenshots/omnibox.test.ts/command-palette-keyboard-navigation/command-palette-pos-end-2.png.sha256
  ui/src/frontend/omnibox.ts
  ui/src/test/omnibox.test.ts
Owners: @google/perfetto-ui-team

ui: Move distribution histogram to the left column in slice details (#5860)
  ui/src/components/details/thread_slice_details_tab.ts
Owners: @google/perfetto-ui-team

ui: Fix GpuByProcess plugin and nest tracks under process groups (#5789)
  ui/src/plugins/dev.perfetto.GpuByProcess/index.ts
Owners: none
