Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

ui: fix modules stepping one each other in extension servers (#5648)
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/extension_server_unittest.ts
Owners: @google/perfetto-ui-team

ui: make legacy macro loading flow direct you to extension servers (#5636)
  ui/src/core/embedder/perfetto_ui_embedder.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/legacy_userscript.ts
  ui/src/frontend/index.ts
  ui/src/frontend/is_internal_user_script_loader.ts
Owners: @google/perfetto-ui-team

ui: signifcantly improve performance for incomplete slice fetch (#5637)
  ui/src/components/tracks/slice_track.ts
Owners: @google/perfetto-ui-team

tp: extract IncrementalState to fix CustomState UAF (#5593)
  Android.bp
  BUILD
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/incremental_state.cc
  src/trace_processor/importers/proto/incremental_state.h
  src/trace_processor/importers/proto/packet_sequence_state_generation.cc
  src/trace_processor/importers/proto/packet_sequence_state_generation.h
  src/trace_processor/importers/proto/packet_sequence_state_generation_unittest.cc
  src/trace_processor/importers/proto/profile_module.cc
  src/trace_processor/importers/proto/profile_packet_sequence_state.cc
  src/trace_processor/importers/proto/profile_packet_sequence_state.h
  src/trace_processor/importers/proto/profile_packet_sequence_state_unittest.cc
  src/trace_processor/importers/proto/stack_profile_sequence_state.cc
  src/trace_processor/importers/proto/stack_profile_sequence_state.h
  src/trace_processor/importers/proto/track_event_event_importer.h
  src/trace_processor/importers/proto/track_event_parser.cc
  src/trace_processor/importers/proto/v8_module.cc
  src/trace_processor/importers/proto/v8_sequence_state.cc
  src/trace_processor/importers/proto/v8_sequence_state.h
Owners: @google/perfetto-tp-team

tp: add syntaqlite-driven macro expansion behind a flag (#5615)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/parser/BUILD.gn
  src/trace_processor/perfetto_sql/parser/intrinsic_macro_expansion.cc
  src/trace_processor/perfetto_sql/parser/intrinsic_macro_expansion.h
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.cc
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.h
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser_unittest.cc
  src/trace_processor/perfetto_sql/preprocessor/perfetto_sql_preprocessor.cc
  src/trace_processor/perfetto_sql/syntaqlite/BUILD.gn
  src/trace_processor/perfetto_sql/syntaqlite/syntaqlite_perfetto.c
  src/trace_processor/perfetto_sql/syntaqlite/syntaqlite_perfetto.h
  src/trace_processor/perfetto_sql/tokenizer/sqlite_tokenizer.cc
  src/trace_processor/perfetto_sql/tokenizer/sqlite_tokenizer.h
  src/trace_processor/sqlite/sql_source.cc
  src/trace_processor/sqlite/sql_source.h
  tools/gen_syntaqlite_parser
  tools/install-build-deps
Owners: @google/perfetto-tp-team

tools: make cpp_blob_emitter executable (#5650)
  python/tools/cpp_blob_emitter.py
Owners: @google/perfetto-team

rust-sdk: add track_descriptor and sequence fields to TracePacket (#5653)
  contrib/rust-sdk/perfetto/src/protos/trace/trace_packet.pz.rs
Owners: @google/perfetto-team

ui: Wattson: Reduce work in onActivate() (#5651)
  ui/src/plugins/org.kernel.Wattson/index.ts
Owners: none

gpu: Add GenericGpuFrequencyEvent and move GpuMemTotalEvent (#5654)
  Android.bp
  BUILD
  contrib/rust-sdk/perfetto-protos-gpu/Cargo.toml
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/generic_kernel/generic_gpu_frequency.pz.rs
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/generic_kernel/mod.rs
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/gpu/gpu_frequency_event.pz.rs
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/gpu/gpu_mem_event.pz.rs
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/gpu/mod.rs
  contrib/rust-sdk/perfetto-protos-gpu/src/protos/trace/trace_packet.pz.rs
  contrib/rust-sdk/tools/gen_rust_protos
  protos/perfetto/trace/android/BUILD.gn
  protos/perfetto/trace/generic_kernel/BUILD.gn
  protos/perfetto/trace/generic_kernel/generic_gpu_frequency.proto
  protos/perfetto/trace/gpu/BUILD.gn
  protos/perfetto/trace/gpu/gpu_mem_event.proto
  protos/perfetto/trace/perfetto_trace.proto
  protos/perfetto/trace/trace_packet.proto
  src/trace_processor/importers/generic_kernel/generic_kernel_module.cc
  src/trace_processor/importers/generic_kernel/generic_kernel_parser.cc
  src/trace_processor/importers/generic_kernel/generic_kernel_parser.h
  src/trace_processor/importers/proto/gpu_event_parser.cc
  test/trace_processor/diff_tests/parser/graphics/tests_gpu_trace.py
Owners: @google/perfetto-team, @google/perfetto-tp-team

Monitor Render Thread blocking calls during Android CUJs (#5645)
  Android.bp
  BUILD
  src/trace_processor/metrics/sql/android/android_blocking_calls_cuj_metric.sql
  src/trace_processor/perfetto_sql/stdlib/android/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/android/critical_blocking_calls.sql
  src/trace_processor/perfetto_sql/stdlib/android/cujs/base.sql
  src/trace_processor/perfetto_sql/stdlib/android/frame_blocking_calls/blocking_calls_aggregation.sql
  src/trace_processor/perfetto_sql/stdlib/android/render_thread.sql
  test/trace_processor/diff_tests/metrics/android/android_blocking_calls_cuj_metric.out
  test/trace_processor/diff_tests/metrics/android/android_blocking_calls_cuj_metric.py
  test/trace_processor/diff_tests/metrics/android/android_blocking_calls_cuj_per_frame_metric.out
  test/trace_processor/diff_tests/metrics/android/android_blocking_calls_cuj_per_frame_metric.py
  test/trace_processor/diff_tests/metrics/android/android_blocking_calls_unagg.out
  test/trace_processor/diff_tests/stdlib/android/sysui_cujs_test.py
Owners: @google/perfetto-tp-team

ui: Add dependencies and dependants to plugins page (#5661)
  ui/src/core_plugins/dev.perfetto.FlagsPage/plugins_page.scss
  ui/src/core_plugins/dev.perfetto.FlagsPage/plugins_page.ts
  ui/src/widgets/settings_shell.ts
Owners: @google/perfetto-ui-team

tp: fix blaze and android.bp builds (#5657)
  Android.bp
  BUILD
  src/trace_processor/plugins/wattson/BUILD.gn
  tools/gen_android_bp
  tools/gen_bazel
  tools/gn_utils.py
Owners: @google/perfetto-tp-team

ui: Fix pinning manager to account for manually pinned tracks (#5652)
  ui/src/components/related_events/utils.ts
  ui/src/plugins/com.android.AndroidInputLifecycle/index.ts
  ui/src/plugins/com.android.AndroidInputLifecycle/tab.ts
Owners: @google/perfetto-ui-team

ui: Add QueryPage SQL formatting via syntaqlite (#5662)
  test/data/ui-screenshots/queries.test.ts/query-page/query-limit-1.png.sha256
  test/data/ui-screenshots/queries.test.ts/query-page/query-limit-2.png.sha256
  test/data/ui-screenshots/queries.test.ts/query-page/query-limit-3.png.sha256
  ui/build.js
  ui/config/syntaqlite_mock.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/plugins/dev.perfetto.QueryPage/query_page.ts
  ui/src/widgets/editor.ts
Owners: @google/perfetto-ui-team

ui: Add startDragGesture helper (#5663)
  ui/src/base/mithril_utils.ts
  ui/src/base/mithril_utils_unittest.ts
  ui/src/core_plugins/dev.perfetto.Timeline/minimap.ts
Owners: @google/perfetto-ui-team

ui: search and highlight chip text in omnibox commands (#5649)
  ui/src/assets/topbar.scss
  ui/src/base/fuzzy.ts
  ui/src/frontend/omnibox.ts
Owners: @google/perfetto-ui-team

ui: add slice duration histogram when single selecting (#5659)
  test/data/ui-screenshots/queries.test.ts/omnibox-query/id-click---current-selection.png.sha256
  test/data/ui-screenshots/queries.test.ts/query-page-id-link-navigation/query-page-id-click---current-selection.png.sha256
  test/data/ui-screenshots/table_viewer.test.ts/Go-to-slice/current-selection.png.sha256
  test/data/ui-screenshots/table_viewer.test.ts/slices-with-same-name/slices-with-same-name.png.sha256
  ui/src/assets/components/distribution_panel.scss
  ui/src/assets/perfetto.scss
  ui/src/assets/widgets/tree.scss
  ui/src/components/details/slice_details.ts
  ui/src/components/details/thread_slice_details_tab.ts
  ui/src/components/distribution_panel.ts
  ui/src/components/widgets/charts/chart_sql_source.ts
  ui/src/components/widgets/charts/histogram_loader.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/tree_demo.ts
  ui/src/test/table_viewer.test.ts
  ui/src/widgets/tree.ts
Owners: @google/perfetto-ui-team

Increase traced_perf delay from 50ms to 250ms (#5668)
  src/profiling/perf/perf_producer.cc
Owners: @google/perfetto-traced-team

tp: stdlib: Fix lock_name in android_monitor_contention (#5656)
  src/trace_processor/perfetto_sql/stdlib/android/monitor_contention.sql
Owners: @google/perfetto-tp-team

perfetto: temporarily mark some things as component to fix blaze (#5675)
  BUILD
  src/trace_processor/plugins/wattson/gen_wattson_curves.py
  src/trace_processor/util/BUILD.gn
  src/trace_processor/util/deobfuscation/BUILD.gn
  src/trace_processor/util/symbolizer/BUILD.gn
Owners: @google/perfetto-tp-team

android_log: add missing include (#5670)
  src/traced/probes/android_log/android_log_data_source.cc
Owners: @google/perfetto-traced-team

ui: fix histogram SQL when bucketSize is fractional (#5674)
  ui/src/components/widgets/charts/chart_sql_source.ts
Owners: @google/perfetto-ui-team

ui: add matching-slice action to selection flamegraph (#5667)
  ui/src/components/query_flamegraph.ts
  ui/src/plugins/dev.perfetto.HeapProfile/heap_profile_details_panel.ts
  ui/src/plugins/dev.perfetto.TraceProcessorTrack/index.ts
  ui/src/widgets/flamegraph.ts
Owners: @google/perfetto-ui-team

sdk: Add track_event_buf_exhausted_policy to TracingInitArgs (#5409)
  include/perfetto/tracing/data_source.h
  include/perfetto/tracing/internal/track_event_data_source.h
  include/perfetto/tracing/internal/track_event_internal.h
  include/perfetto/tracing/tracing.h
  src/tracing/internal/track_event_internal.cc
  src/tracing/test/api_integrationtest.cc
  src/tracing/tracing.cc
Owners: @google/perfetto-traced-team

perfetto: fix false data_loss on re-admit in TraceBufferV2 (#5644)
  src/tracing/service/trace_buffer_v2.cc
  src/tracing/service/trace_buffer_v2_unittest.cc
Owners: @google/perfetto-traced-team

tp: emit cc_library for source_sets in gen_bazel (#5664)
  BUILD
  src/android_sdk/jni/BUILD.gn
  src/base/BUILD.gn
  src/base/regex/BUILD.gn
  src/protovm/BUILD.gn
  src/trace_processor/containers/BUILD.gn
  src/trace_processor/util/BUILD.gn
  src/trace_processor/util/deobfuscation/BUILD.gn
  src/trace_processor/util/symbolizer/BUILD.gn
  tools/gen_bazel
  tools/gn_utils.py
Owners: @google/perfetto-traced-team, @google/perfetto-tp-team

ui: Encapsulate plugin state in HeapDumpExplorerSession (#5679)
  ui/src/plugins/com.android.HeapDumpExplorer/heap_dump_page.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/com.android.HeapDumpExplorer/nav_state.ts
  ui/src/plugins/com.android.HeapDumpExplorer/queries.ts
  ui/src/plugins/com.android.HeapDumpExplorer/session.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/all_objects_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/arrays_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/bitmap_gallery_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/classes_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/dominators_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/object_view.ts
  ui/src/plugins/com.android.HeapDumpExplorer/views/strings_view.ts
Owners: none

ui: Add Debug Track button to DistributionPanel header (#5681)
  test/data/ui-screenshots/table_viewer.test.ts/slices-with-same-name/slices-with-same-name.png.sha256
  ui/src/components/distribution_panel.ts
Owners: @google/perfetto-ui-team

bazel: attempt to fix include violations on blaze (#5684)
  BUILD
  include/perfetto/ext/base/BUILD.gn
  include/perfetto/ext/trace_processor/BUILD.gn
  include/perfetto/public/BUILD.gn
  src/trace_processor/util/BUILD.gn
  tools/gen_bazel
  tools/gn_utils.py
Owners: @google/perfetto-traced-team, @google/perfetto-tp-team

ui: Add optional actions buttons to grid cells (#5669)
  ui/src/assets/widgets/grid.scss
  ui/src/components/widgets/datagrid/datagrid.ts
  ui/src/components/widgets/datagrid/datagrid_schema.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/grid_demo.ts
  ui/src/widgets/grid.ts
Owners: @google/perfetto-ui-team

ui: Overhaul SegmentedButtons widget (#5672)
  test/data/ui-screenshots/debug_tracks.test.ts/debug-tracks/debug-track-menu.png.sha256
  test/data/ui-screenshots/table_viewer.test.ts/slices-with-same-name/slices-with-same-name.png.sha256
  ui/src/assets/widgets/segmented_buttons.scss
  ui/src/components/tracks/add_debug_track_menu.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/add_extension_server_modal.ts
  ui/src/plugins/dev.perfetto.MetricsPage/metrics_page.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/segmented_buttons_demo.ts
  ui/src/plugins/org.kernel.Wattson/estimate_aggregator.ts
  ui/src/plugins/org.kernel.Wattson/package_aggregator.ts
  ui/src/plugins/org.kernel.Wattson/process_aggregator.ts
  ui/src/plugins/org.kernel.Wattson/thread_aggregator.ts
  ui/src/widgets/flamegraph.ts
  ui/src/widgets/segmented_buttons.ts
Owners: @google/perfetto-ui-team

perfetto: tbv2: fix bytes_overwritten over-counting consumed chunks (#5676)
  src/tracing/service/trace_buffer_v2.cc
  src/tracing/service/trace_buffer_v2_unittest.cc
Owners: @google/perfetto-traced-team

bazel: fix remaining layering_check violations (#5685)
  Android.bp
  BUILD
  bazel/rules.bzl
  bazel/standalone/perfetto_cfg.bzl
  include/perfetto/ext/trace_processor/BUILD.gn
  include/perfetto/ext/trace_processor/rpc/BUILD.gn
  include/perfetto/ext/traceconv/BUILD.gn
  src/ipc/protoc_plugin/BUILD.gn
  src/protozero/BUILD.gn
  src/protozero/protoc_plugin/BUILD.gn
  src/trace_processor/BUILD.gn
  src/trace_processor/importers/android_bugreport/BUILD.gn
  src/trace_processor/importers/archive/BUILD.gn
  src/trace_processor/importers/collapsed_stack/BUILD.gn
  src/trace_processor/importers/etm/BUILD.gn
  src/trace_processor/importers/perf/BUILD.gn
  src/trace_processor/importers/pprof/BUILD.gn
  src/trace_processor/importers/simpleperf_proto/BUILD.gn
  src/trace_processor/perfetto_sql/engine/BUILD.gn
  src/trace_processor/shell/BUILD.gn
  src/trace_processor/types/BUILD.gn
Owners: @google/perfetto-team, @google/perfetto-tp-team, @google/perfetto-traced-team

ui: Fix macos build (#5687)
  ui/build.js
Owners: @google/perfetto-ui-team

Add mayzneranna to external contributors (#5688)
  CONTRIBUTORS.txt
Owners: @google/perfetto-team

tp: Add tables with stdlib documentation data (#5555)
  Android.bp
  BUILD
  src/trace_processor/perfetto_sql/engine/perfetto_sql_engine.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/BUILD.gn
  src/trace_processor/perfetto_sql/intrinsics/table_functions/stdlib_docs_table_function.cc
  src/trace_processor/perfetto_sql/intrinsics/table_functions/stdlib_docs_table_function.h
  src/trace_processor/perfetto_sql/intrinsics/table_functions/tables.py
  src/trace_processor/perfetto_sql/syntaqlite/BUILD.gn
  src/trace_processor/perfetto_sql/syntaqlite/utils.h
  src/trace_processor/trace_processor_impl.cc
  src/trace_processor/util/BUILD.gn
  src/trace_processor/util/sql_module_doc_parser.cc
  src/trace_processor/util/sql_module_doc_parser.h
  src/trace_processor/util/sql_module_doc_parser_unittest.cc
  test/trace_processor/diff_tests/include_index.py
  test/trace_processor/diff_tests/syntax/stdlib_docs_tests.py
Owners: @google/perfetto-tp-team

docs: Data Explorer docs stub (#5689)
  docs/toc.md
  docs/visualization/data-explorer.md
Owners: none

ui: Charts: Add bottom aligned legends (#5691)
  ui/src/components/widgets/charts/bar_chart.ts
  ui/src/components/widgets/charts/chart_option_builder.ts
  ui/src/components/widgets/charts/common.ts
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/line_chart.ts
  ui/src/components/widgets/charts/pie_chart.ts
  ui/src/components/widgets/charts/scatterplot.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/demos/charts_demo.ts
Owners: @google/perfetto-ui-team

ui: Disable chart tooltip transitions (#5692)
  ui/src/components/widgets/charts/chart_option_builder.ts
Owners: @google/perfetto-ui-team

ui: Fix theme colors for time-based line and sankey charts (#5693)
  ui/src/components/widgets/charts/echart_view.ts
  ui/src/components/widgets/charts/sankey.ts
Owners: @google/perfetto-ui-team

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners
