Repository Mu-L/perfetto, changes with the owners that .github/CODEOWNERS names for each.
All owners: @google/perfetto-team, @google/perfetto-ui-team, @google/perfetto-traced-team, @google/perfetto-tp-team, @primiano, @LalitMaganti, @google/chromium-stdlib-owners

tp: fix proto to args parsing not correctly draining stack on error (#5873)
  src/trace_processor/util/proto_to_args_parser.cc
  src/trace_processor/util/proto_to_args_parser_unittest.cc
Owners: @google/perfetto-tp-team

Update omnibox integration test screenshots (#5877)
  test/data/ui-screenshots/omnibox.test.ts/command-palette-keyboard-navigation/command-palette-pos-end-1.png.sha256
  test/data/ui-screenshots/omnibox.test.ts/command-palette-keyboard-navigation/command-palette-pos-end-2.png.sha256
Owners: none

[ChromeScrollJank plugin] Handle traces containing only preferred frame timelines (#5876)
  ui/src/plugins/org.chromium.ChromeScrollJank/frame_timeline_model.ts
Owners: none

tp: replace FixedStringWriter with DynamicStringWriter (#5880)
  Android.bp
  BUILD
  include/perfetto/ext/base/BUILD.gn
  include/perfetto/ext/base/dynamic_string_writer.h
  include/perfetto/ext/base/fixed_string_writer.h
  src/base/BUILD.gn
  src/base/dynamic_string_writer.cc
  src/base/dynamic_string_writer_unittest.cc
  src/base/fixed_string_writer_unittest.cc
  src/tools/dump_ftrace_stats/main.cc
  src/trace_processor/importers/proto/gpu_event_parser.cc
  src/trace_processor/importers/proto/proto_trace_parser_impl.cc
  src/trace_processor/importers/proto/track_event_event_importer.h
  src/trace_processor/plugins/to_ftrace/to_ftrace.cc
  src/trace_processor/plugins/to_ftrace/to_ftrace.h
  src/trace_processor/types/gfp_flags.cc
  src/trace_processor/types/gfp_flags.h
  src/trace_processor/util/symbolizer/breakpad_parser.cc
  src/traceconv/trace_to_systrace.cc
Owners: @google/perfetto-traced-team, @google/perfetto-tp-team

tp: fix OOB read in to_ftrace softirq handling (#5881)
  src/trace_processor/plugins/to_ftrace/to_ftrace.cc
Owners: @google/perfetto-tp-team

tp: create new plugin to handle all the storage dataframe -> connection registration (#5865)
  Android.bp
  BUILD
  src/trace_processor/BUILD.gn
  src/trace_processor/forwarding_trace_parser.cc
  src/trace_processor/plugins/storage_tables/BUILD.gn
  src/trace_processor/plugins/storage_tables/storage_tables.cc
  src/trace_processor/plugins/storage_tables/storage_tables.h
  src/trace_processor/trace_processor_impl.cc
  src/trace_processor/trace_processor_impl.h
Owners: @google/perfetto-tp-team

tp: emit flags before positionals in classic->subcommand translation (#5882)
  src/trace_processor/trace_processor_shell.cc
Owners: @google/perfetto-tp-team

tp: add changelog for v55.2 (#5884)
  CHANGELOG
Owners: @google/perfetto-team

ui: Move generated lezer grammar file. (#5888)
  ui/src/base/perfetto_sql_lang/gen/perfetto_sql.grammar.js
  ui/src/base/perfetto_sql_lang/gen/perfetto_sql.grammar.terms.js
  ui/src/base/perfetto_sql_lang/language.ts
  ui/src/base/perfetto_sql_lang/perfetto_sql.grammar
Owners: @google/perfetto-ui-team

ui: Format build.mjs (#5890)
  ui/.prettierignore
  ui/build.mjs
Owners: @google/perfetto-ui-team

ui: scroll flamegraph to root in top down/bottom up/pivot (#5887)
  ui/src/core_plugins/dev.perfetto.Timeline/minimap.ts
  ui/src/core_plugins/dev.perfetto.Timeline/timeline_header.ts
  ui/src/core_plugins/dev.perfetto.Timeline/track_tree_view.ts
  ui/src/widgets/flamegraph.ts
  ui/src/widgets/virtual_overlay_canvas.ts
Owners: @google/perfetto-ui-team

tp: ignore container trace files in JSON export stats check (#5891)
  src/trace_processor/export_json.cc
  src/trace_processor/export_json_unittest.cc
Owners: @google/perfetto-tp-team

tp: bump prebuilts for v55.2 (#5893)
  python/perfetto/prebuilts/manifests/heapprofd_glibc_preload.py
  python/perfetto/prebuilts/manifests/trace_processor_shell.py
  python/perfetto/prebuilts/manifests/tracebox.py
  python/perfetto/prebuilts/manifests/traceconv.py
  tools/cpu_profile
  tools/heap_profile
  tools/record_android_trace
  tools/trace_processor
  tools/tracebox
  tools/traceconv
Owners: @google/perfetto-team

protovm: optimize node memory footprint (#5805)
  src/protovm/allocator.cc
  src/protovm/allocator.h
  src/protovm/node.cc
  src/protovm/node.h
  src/protovm/rw_proto_cursor.cc
  src/protovm/rw_proto_cursor.h
  src/protovm/test/allocator_unittest.cc
Owners: @google/perfetto-traced-team

perfetto: convert android_track_event.proto to shim (#5835)
  Android.bp
  Android.bp.extras
  BUILD
  examples/shared_lib/example_shlib_data_source.c
  include/perfetto/public/protos/trace/android/android_track_event.pzc.h
  protos/perfetto/trace/android/BUILD.gn
  protos/perfetto/trace/android/android_track_event.proto
  protos/perfetto/trace/track_event/track_event_extensions.json
  protos/third_party/android/BUILD.gn
  protos/third_party/android/android_extensions.proto
  protos/third_party/android/frameworks/base/proto/tracing/frameworks_base_track_event.proto
  protos/third_party/android/frameworks/native/tracing/frameworks_native_track_event.proto
  src/protozero/protoc_plugin/protozero_c_plugin.cc
  src/tools/tracing_proto_extensions_unittest.cc
  src/trace_processor/importers/proto/BUILD.gn
  src/trace_processor/importers/proto/track_event_module.cc
  tools/gen_android_bp
  tools/gen_bazel
  tools/gen_c_protos
Owners: @google/perfetto-traced-team, @google/perfetto-team, @google/perfetto-tp-team

ui: MemoryViz move reclaim events under Memory group (#5899)
  ui/src/components/tracks/breakdown_tracks.ts
  ui/src/plugins/com.android.MemoryViz/index.ts
Owners: @google/perfetto-ui-team

ui: Remove genai and modelcontextprotocol dependencies (#5889)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/plugins/com.google.PerfettoMcp/chat_page.ts
  ui/src/plugins/com.google.PerfettoMcp/gemini_client.ts
  ui/src/plugins/com.google.PerfettoMcp/index.ts
  ui/src/plugins/com.google.PerfettoMcp/tool_registry.ts
  ui/src/plugins/com.google.PerfettoMcp/tracetools.ts
  ui/src/plugins/com.google.PerfettoMcp/uitools.ts
Owners: @google/perfetto-ui-team

android: enable system_tracing_protos_descriptor (#5901)
  Android.bp
  Android.bp.extras
Owners: none

ui: Migrate to Vite for TS transpilation and bundling (#5900)
  ui/build.mjs
  ui/config/jest.unittest.config.js
  ui/config/rollup.config.js
  ui/config/style_mock.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/vite.config.mjs
Owners: @google/perfetto-ui-team

ui: Import scss files via typescript module imports (#5902)
  ui/.prettierignore
  ui/build.mjs
  ui/src/assets/bigtrace.scss
  ui/src/assets/index.html
  ui/src/assets/perfetto.scss
  ui/src/bigtrace/index.ts
  ui/src/core_plugins/dev.perfetto.ExtensionServers/index.ts
  ui/src/core_plugins/dev.perfetto.FlagsPage/index.ts
  ui/src/core_plugins/dev.perfetto.MultiTraceOpen/index.ts
  ui/src/core_plugins/dev.perfetto.SearchUtils/index.ts
  ui/src/core_plugins/dev.perfetto.SettingsPage/index.ts
  ui/src/core_plugins/dev.perfetto.Timeline/index.ts
  ui/src/core_plugins/dev.perfetto.Timeline/timeline_page.scss
  ui/src/frontend/index.ts
  ui/src/plugins/com.android.AndroidLockContention/index.ts
  ui/src/plugins/com.android.AndroidLog/index.ts
  ui/src/plugins/com.android.HeapDumpExplorer/index.ts
  ui/src/plugins/com.google.PerfettoMcp/index.ts
  ui/src/plugins/com.meta.GpuCompute/index.ts
  ui/src/plugins/dev.perfetto.AggregateProfiles/index.ts
  ui/src/plugins/dev.perfetto.DataExplorer/index.ts
  ui/src/plugins/dev.perfetto.Ftrace/index.ts
  ui/src/plugins/dev.perfetto.Memscope/index.ts
  ui/src/plugins/dev.perfetto.MetricsPage/index.ts
  ui/src/plugins/dev.perfetto.QueryLog/index.ts
  ui/src/plugins/dev.perfetto.QueryPage/index.ts
  ui/src/plugins/dev.perfetto.RecordTraceV2/index.ts
  ui/src/plugins/dev.perfetto.Sched/index.ts
  ui/src/plugins/dev.perfetto.Screenshots/index.ts
  ui/src/plugins/dev.perfetto.TimelineSync/index.ts
  ui/src/plugins/dev.perfetto.TraceInfoPage/index.ts
  ui/src/plugins/dev.perfetto.WidgetsPage/index.ts
  ui/src/plugins/org.chromium.V8/index.ts
  ui/src/plugins/org.kernel.Wattson/index.ts
  ui/src/types/vite.d.ts
  ui/vite.config.mjs
Owners: @google/perfetto-ui-team

perf: allocate Unwinder on the heap (#5871)
  src/profiling/perf/unwinding.h
Owners: @google/perfetto-traced-team

base: permute positional arguments vs flags in getopt_compat similar to GNU (#5878)
  src/base/getopt_compat.cc
  src/base/getopt_compat_unittest.cc
Owners: @google/perfetto-traced-team

ui: Replace plugin barrel codegen with a Vite virtual module (#5903)
  python/tools/check_imports.py
  tools/gen_ui_imports
  ui/build.mjs
  ui/src/frontend/index.ts
  ui/src/types/virtual-modules.d.ts
  ui/vite.config.mjs
Owners: @google/perfetto-team, @google/perfetto-ui-team

tp: delete the legacy PerfettoSqlPreprocessor (#5472)
  Android.bp
  BUILD
  src/trace_processor/BUILD.gn
  src/trace_processor/perfetto_sql/engine/BUILD.gn
  src/trace_processor/perfetto_sql/engine/perfetto_sql_connection.cc
  src/trace_processor/perfetto_sql/engine/perfetto_sql_database.h
  src/trace_processor/perfetto_sql/parser/BUILD.gn
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.cc
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser.h
  src/trace_processor/perfetto_sql/parser/perfetto_sql_parser_unittest.cc
  src/trace_processor/perfetto_sql/preprocessor/.clang-format-ignore
  src/trace_processor/perfetto_sql/preprocessor/BUILD.gn
  src/trace_processor/perfetto_sql/preprocessor/perfetto_sql_preprocessor.cc
  src/trace_processor/perfetto_sql/preprocessor/perfetto_sql_preprocessor.h
  src/trace_processor/perfetto_sql/preprocessor/perfetto_sql_preprocessor_unittest.cc
  src/trace_processor/perfetto_sql/preprocessor/preprocessor_grammar.c
  src/trace_processor/perfetto_sql/preprocessor/preprocessor_grammar.h
  src/trace_processor/perfetto_sql/preprocessor/preprocessor_grammar.y
  src/trace_processor/perfetto_sql/preprocessor/preprocessor_grammar_interface.h
  src/trace_processor/perfetto_sql/tokenizer/sqlite_tokenizer.cc
  src/trace_processor/perfetto_sql/tokenizer/sqlite_tokenizer.h
Owners: @google/perfetto-tp-team

stdlib: android_lmk_events use evt.pid instead of process.pid (#5898)
  src/trace_processor/perfetto_sql/stdlib/android/memory/lmk.sql
Owners: @google/perfetto-tp-team

ui: Hoist lezer grammar generation into vite/rollup (#5904)
  ui/config/grammar_mock.js
  ui/config/jest.unittest.config.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/base/perfetto_sql_lang/gen/perfetto_sql.grammar.js
  ui/src/base/perfetto_sql_lang/gen/perfetto_sql.grammar.terms.js
  ui/src/base/perfetto_sql_lang/language.ts
  ui/src/base/perfetto_sql_lang/language_unittest.ts
  ui/src/core_plugins/dev.perfetto.CoreCommands/index.ts
  ui/src/core_plugins/dev.perfetto.CoreCommands/legacy_macros_schema.ts
  ui/src/core_plugins/dev.perfetto.CoreCommands/legacy_macros_schema_unittest.ts
  ui/src/types/virtual-modules.d.ts
  ui/vite.config.mjs
Owners: @google/perfetto-ui-team

tp: make adding index create a new dataframe and add support for intrinsic indexes (#5909)
  Android.bp
  BUILD
  src/trace_processor/core/dataframe/dataframe.cc
  src/trace_processor/core/dataframe/dataframe.h
  src/trace_processor/core/dataframe/dataframe_unittest.cc
  src/trace_processor/core/plugin/registration.h
  src/trace_processor/perfetto_sql/engine/perfetto_sql_connection.cc
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/BUILD.gn
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/counters.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/cpu_scheduling.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/events.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/indexes.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/memory.sql
  src/trace_processor/perfetto_sql/stdlib/prelude/after_eof/tracks.sql
  src/trace_processor/perfetto_sql/stdlib/v8/jit.sql
  src/trace_processor/plugins/storage_tables/storage_tables.cc
  src/trace_processor/trace_processor_impl.cc
  test/trace_processor/diff_tests/syntax/table_tests.py
Owners: @google/perfetto-tp-team

tp: improve experience of casting to id in SQL functions (#5905)
  python/generators/trace_processor_table/serialize.py
  src/trace_processor/plugins/ancestor/ancestor.cc
  src/trace_processor/plugins/connected_flow/connected_flow.cc
  src/trace_processor/plugins/experimental_annotated_stack/experimental_annotated_stack.cc
  src/trace_processor/plugins/stack_functions/stack_functions.cc
  src/trace_processor/util/profile_builder.cc
Owners: @google/perfetto-team, @google/perfetto-tp-team

tp: fix UI crashing due to trying to create an intrinsic index (#5911)
  src/trace_processor/plugins/storage_tables/storage_tables.cc
  ui/src/plugins/dev.perfetto.ProcessSummary/index.ts
Owners: @google/perfetto-tp-team

ai: add Bazel build rules for AI skills (#5912)
  ai/skills/perfetto-infra-getting-trace-processor/BUILD
  ai/skills/perfetto-infra-getting-trace-processor/EVAL.txtpb
  ai/skills/perfetto-infra-getting-trace-processor/OWNERS
  ai/skills/perfetto-infra-getting-trace-processor/TEST.md
  ai/skills/perfetto-infra-querying-traces/BUILD
  ai/skills/perfetto-infra-querying-traces/EVAL.txtpb
  ai/skills/perfetto-infra-querying-traces/OWNERS
  ai/skills/perfetto-infra-querying-traces/TEST.md
  ai/skills/perfetto-workflow-android-heap-dump/BUILD
  ai/skills/perfetto-workflow-android-heap-dump/EVAL.txtpb
  ai/skills/perfetto-workflow-android-heap-dump/OWNERS
  ai/skills/perfetto-workflow-android-heap-dump/TEST.md
  bazel/rules.bzl
  bazel/standalone/perfetto_cfg.bzl
Owners: @google/perfetto-team

ui: sanitize permalink filename coming from url/postmessage (#5917)
  ui/src/base/gcs_uploader.ts
  ui/src/frontend/permalink.ts
  ui/src/frontend/post_message_handler.ts
Owners: @google/perfetto-ui-team

.github/CODEOWNERS:

# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

# General repo-wide owners 
* @google/perfetto-team

# ui.perfetto.dev
/ui/**/* @google/perfetto-ui-team

# On-device and SDK code
/src/**/* @google/perfetto-traced-team
/include/**/* @google/perfetto-traced-team

# Trace Processor (keep after src/*)
/src/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/ext/trace_processor/**/* @google/perfetto-tp-team
/include/perfetto/trace_processor/**/* @google/perfetto-tp-team

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/docs/**/*
/examples/**/*
/protos/perfetto/trace/**/*
/protos/perfetto/config/**/*
/protos/perfetto/metrics/**/*
/ui/src/plugins/**/*
/ui/src/test/**/*
/tools/**/*
/test/**/*

# Changes to the Tracing Protocol ABI are extremely subtle because they need to
# be forward/backward compatible with various combinations of producer and
# service versions. Adding >1 owner to reviews is encouraged here.
# TODO(primiano): add @betasheet once he joins google org
/protos/perfetto/ipc/**/* @primiano @LalitMaganti

# Chromium-specific parts of stdlib is rolled from the chromium repo.
# The chromium owners should be able to approve the rolls.
/protos/third_party/chromium/**.* @google/chromium-stdlib-owners
/src/trace_processor/perfetto_sql/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/trace_processor/diff_tests/stdlib/chrome/**.* @google/chromium-stdlib-owners
/test/data/chrome/**.sha256 @google/chromium-stdlib-owners
